<section class="content-header">
	<h1>
		<i class="fa fa-server fa-fw"></i> Servers
		<div class="btn-group" role="group" aria-label="Node List Actions">
			<a class="btn btn-default btn-sm" ui-sref="r.dashboard.servernew">New</a>
		</div>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li class="active">Servers</li>
	</ol>
</section>

<section class="content">
<div class="row">
	<table class="table table-striped table-bordered table-hover" ng-if="servers.length > 0">
		<thead>
			<tr>
				<th>Row</th>
				<th>Details</th>
				<th>Name</th>
				<th>Status</th>
				<th>CPU</th>
				<th>Disk Size</th>
				<th>RAM</th>
				<th>Bandwidth</th>
				<th>Data Center</th>
				<th>Node</th>
				<th>IP Address</th>
				<th>MAC Address</th>
				<th>Base Image</th>
				<th>Owner</th>
				<th>Details</th>
			</tr>
		</thead>


		<tbody>
			<tr ng-repeat="server in servers | orderBy:'name'">
				<td>{{$index +1}}</td>
				<td><a ui-sref="r.dashboard.server({id: server._id})" title="Details"><i class="fa fa-cog fa-fw"></i></a></td>
				<td>{{server.name}}</td>
				<td>{{server.status}}</td>
				<td>{{server.cpu}} vCores</td>
				<td>{{server.hdd}}GB</td>
				<td>{{server.ram}}MB</td>
				<td>{{server.bandwidth}}GB</td>
				<td>{{ (dataCenters | filter:{_id:server.dc._id})[0].name }}</td>
				<td>{{ (nodes | filter:{_id:server.node})[0].name }}</td>
				<td>{{server.ip}}</td>
				<td>{{server.mac}}</td>
				<td>
					<a ui-sref="r.dashboard.image({id: srvImage._id})" title="Details" ng-repeat="srvImage in images | filter:{_id: server.image || '000' }">
						{{ srvImage.name }}
						({{ (imagegroups | filter:{_id:((images | filter:{_id:server.image})[0].group)})[0].name }})
					</a>

				</td>
				<td>
					{{ (users | filter:{_id:server.owner})[0].name }}
					{{ (users | filter:{_id:server.owner})[0].surname }}
				</td>
				<td><a ui-sref="r.dashboard.server({id: server._id})" title="Details"><i class="fa fa-cog fa-fw"></i></a></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
</section>