<section class="content-header">
	<h1>
		<i class="fa fa-server fa-fw"></i> Server
		<small>{{ curServer.name }}</small>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
		<li><a ui-sref="r.dashboard.servers">Servers</a></li>
		<li class="active">Server</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<uib-tabset>
				<uib-tab index="0" heading="Main Information">
					<div ng-include="'/admin/partials/r/admin/server/serverMainInformation.html'"></div>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>
</section>

<!--
<div class="col-xs-12" ng-if="(shouldShowConsole && curServer.domstate=='running')" ng-include="'/common/server/vnc.html'"></div>
<div class="col-xs-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Main Information</h3>
		</div>
		<div class="panel-body">
			<form editable-form name="serverEditForm" onaftersave="saveServer()">
				<div class="table-responsive">
					<table class="table table-bordered table-condensed table-hover table-striped table-nonfluid">
						<tbody>
							<tr><td><b>Status: 		</b></td><td><span ng-if="!curServer.domstate"><i class="fa fa-circle-o-notch fa-spin"></i></span><span ng-if="curServer.domstate">{{ curServer.domstate }}</span></td></tr>
							<tr><td><b>Name: 		</b></td><td><span editable-text="curServer.name">{{ curServer.name }}</span></td></tr>
							<tr><td><b>CPU: 		</b></td><td><span editable-text="curServer.cpu">{{ curServer.cpu }} Core(s)</span></td></tr>
							<tr><td><b>RAM: 		</b></td><td><span editable-text="curServer.ram">{{ curServer.ram }} MB</span></td></tr>
							<tr><td><b>HDD: 		</b></td><td><span editable-text="curServer.hdd">{{ curServer.hdd }} GB</span></td></tr>
							<tr><td><b>Bandwidth: 	</b></td><td><span editable-text="curServer.bandwidth">{{ curServer.bandwidth }} GB</span></td></tr>
							<tr><td><b>IP Address: 	</b></td><td><span editable-text="curServer.ip">{{ curServer.ip }}</span></td></tr>
							<tr><td><b>MAC Address:	</b></td><td><span editable-text="curServer.mac">{{ curServer.mac }}</span></td></tr>
							<tr>
								<td><b>Owner: 		</b></td>
								<td>
									<span editable-select="curServer.owner" e-ng-options="user._id as user.name+' '+user.surname+' ('+user.email+')' for user in users">
										<a ui-sref="r.dashboard.user({id: curServer.owner})" title="Go to user details">
											{{ (users | filter:{_id: curServer.owner})[0].name || '' }}
											{{ (users | filter:{_id: curServer.owner})[0].surname || '' }}
											( {{ (users | filter:{_id: curServer.owner})[0].email || 'Not set' }} )
										</a>
									</span>
								</td>
							</tr>
							<tr>
								<td><b>Next Invoice Date: </b></td>
								<td><span editable-combodate="curServer.nextinvoicedate" e-max-year="2100">{{ (curServer.nextinvoicedate | date:"yyyy-MM-dd HH:mm:ss Z") || 'empty' }}</span></td>
							</tr>
							<tr>
								<td><b>Plan: 		</b></td>
								<td>
									<span editable-select="curServer.plan" e-ng-options="plan._id as plan.name for plan in plans">
										<span ng-if="curServer.plan">{{ (plans | filter:{_id: curServer.plan})[0].name || 'Not set' }}</span>
										<span ng-if="(!curServer.plan)">Not set</span>
									</span>
								</td>
							</tr>
							<tr><td><b>Node: 		</b></td><td>{{ (nodes | filter:{_id:curServer.node})[0].name || 'Not set'}}</td></tr>
							<tr><td><b>Price: 		</b></td><td><span editable-text="curServer.price">{{ curServer.price }}</span></td></tr>
							<tr><td><b>Invoice Status: 		</b></td><td><span editable-text="curServer.invoicestat">{{ curServer.invoicestat }}</span></td></tr>
							<tr>
								<td colspan=2>
									<button type="button" class="btn btn-primary btn-xs" ng-click="serverEditForm.$show()" ng-show="!serverEditForm.$visible">Edit</button>
									<button type="button" class="btn btn-danger btn-xs" ng-click="deleteServer()" ng-show="!serverEditForm.$visible">Delete</button>
									<button type="submit" class="btn btn-success btn-xs" ng-disabled="serverEditForm.$waiting" ng-show="serverEditForm.$visible">Save</button>
									<button type="button" class="btn btn-warning btn-xs" ng-disabled="serverEditForm.$waiting" ng-click="serverEditForm.$cancel()" ng-show="serverEditForm.$visible">Cancel</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="col-xs-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Actions</h3>
		</div>
		<div class="panel-body">
			<div class="btn-group">
				<button class="btn btn-default" ng-disabled="!(curServer.domstate=='running')" ng-click="toggleConsole()"><i class="fa fa-desktop"></i><br />Console</button>
				<button class="btn btn-default" ng-disabled="!(curServer.domstate=='shut off')" ng-click="serverConverged('start');"><i class="fa fa-play"></i><br />Boot</button>
				<button class="btn btn-default" ng-disabled="!(curServer.domstate=='running')" ng-click="serverConverged('shutdown');"><i class="fa fa-stop"></i><br />Shutdown</button>
				<button class="btn btn-default" ng-disabled="!(curServer.domstate=='running')" ng-click="serverConverged('reboot');"><i class="fa fa-repeat"></i><br />Reboot</button>
				<button class="btn btn-default" ng-disabled="!(curServer.domstate=='running')" ng-click="serverConverged('poweroff');"><i class="fa fa-plug"></i><br />Power Off</button>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Disks</h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-bordered table-condensed table-hover table-striped table-nonfluid">
					<thead>
						<tr>
							<th>Type</th>
							<th>Assigned Drive</th>
							<th>Source File</th>
							<th>Store</th>
							<th>Action</th>
						</tr>
					</thead>
					<tr ng-repeat="curDisk in curServer.diskList">
						<td>{{curDisk.Device}}</td>
						<td>{{curDisk.Target}}</td>
						<td>
							<span ng-if="(curDisk.Device=='disk')">Assigned Drive</span>
							<span ng-if="(curDisk.Device!='disk')">{{curDisk.Source.split('/')[curDisk.Source.split('/').length-1]}}</span>
						</td>
						<td>{{curDisk.Store}}</td>
						<td>
							<button type="button" class="btn btn-default btn-xs" ng-if="(curDisk.Device=='disk')" 								ng-click="diskResize(curDisk)"><i class="fa fa-expand fa-fw" title="Resize Disk"></i></button>
							<button type="button" class="btn btn-default btn-xs" ng-if="(curDisk.Source == '-' && curDisk.Device == 'cdrom')" 	ng-click="openAttachISOModal(curDisk.Target)"><i class="fa fa-paperclip fa-fw" title="Attach Disk"></i></button>
							<button type="button" class="btn btn-default btn-xs" ng-if="(curDisk.Source != '-' && curDisk.Device == 'cdrom')" 	ng-click="ejectISO(curDisk.Target)"><i class="fa fa-eject fa-fw" title="Eject Disk"></i></button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Details</h3>
		</div>
		<div class="panel-body">
			<pre>{{ curServer | json }}</pre>
		</div>
	</div>
</div>

</div>
</section>
-->
<script type="text/ng-template" id="serverAttachIsoModal.tmpl.html">
	<div class="modal-header">
		<h3><i class="fa fa-server fa-fw"></i> Attach ISO File to Server</h3>
	</div>
	<form>
		<div class="modal-body">
			<div ng-if="(curNode.interfaces == 'Failed')"><span class="alert alert-danger">Failed to fetch interfaces, please try again.</span></div>
			<table ng-if="(curNode.interfaces != 'Failed')" class="table table-hover table-condensed table-responsive">
				<thead>
					<tr><th>Name</th><th>File Name</th><th>Action</th><!--th>Details</th--></tr>
				</thead>
				<tbody>
					<tr ng-repeat="curServerIso in curServerAvailableISOList">

						<td>{{curServerIso.name}}</td>
						<td>{{curServerIso.file}}</td>
						<td>
							<button type="button" class="btn btn-primary btn-xs" ng-click="attachISO(curServerIso)">Attach</button>
						</td>
						<!--td>{{curServerIso}}</td-->
					</tr>
				</tbody>
			</table>
		</div>
	</form>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="closeAttachISOModal()" data-dismiss="modal">OK</button>
	</div>
</script>