<section class="content-header">
	<h1>
		<i class="fa fa-server fa-fw"></i> Server
		<small>{{ curServer.name }}</small>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
		<li><a ui-sref="r.dashboard.servers">Servers</a></li>
		<li class="active">Server</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<uib-tabset active="activeServerDetailTab">
				<uib-tab index="0" heading="Main Information">
					<div ng-include="'/admin/partials/r/admin/server/serverMainInformation.html'"></div>
				</uib-tab>
				<uib-tab index="1" heading="Console" select="consoleTabSelected()" deselect="consoleTabDeselected()">
					<div ng-include="'/admin/partials/r/admin/server/serverConsole.html'"></div>
				</uib-tab>
				<uib-tab index="2" heading="Actions">
					<div ng-include="'/admin/partials/r/admin/server/serverActions.html'"></div>
				</uib-tab>
				<uib-tab index="3" heading="Disks">
					<div ng-include="'/admin/partials/r/admin/server/serverDisks.html'"></div>
				</uib-tab>
				<uib-tab index="4" heading="Source">
					<div ng-include="'/admin/partials/r/admin/server/serverSource.html'"></div>
				</uib-tab>
				<uib-tab index="5" heading="Connection Details" ng-if="curServer.image" select="connectionDetailsTabSelected()">
					<div ng-include="'/admin/partials/r/admin/server/serverConnectionDetails.html'"></div>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>
</section>

<script type="text/ng-template" id="serverAttachIsoModal.tmpl.html">
	<div class="modal-header">
		<h3><i class="fa fa-server fa-fw"></i> Attach ISO File to Server</h3>
	</div>
	<form>
		<div class="modal-body">
			<div ng-if="(curNode.interfaces == 'Failed')"><span class="alert alert-danger">Failed to fetch interfaces, please try again.</span></div>
			<table ng-if="(curNode.interfaces != 'Failed')" class="table table-hover table-condensed table-responsive">
				<thead>
					<tr><th>Name</th><th>File Name</th><th>Action</th><!--th>Details</th--></tr>
				</thead>
				<tbody>
					<tr ng-repeat="curServerIso in curServerAvailableISOList">

						<td>{{curServerIso.name}}</td>
						<td>{{curServerIso.file}}</td>
						<td>
							<button type="button" class="btn btn-primary btn-xs" ng-click="attachISO(curServerIso)">Attach</button>
						</td>
						<!--td>{{curServerIso}}</td-->
					</tr>
				</tbody>
			</table>
		</div>
	</form>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="closeAttachISOModal()" data-dismiss="modal">OK</button>
	</div>
</script>