<div class="panel panel-default">
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-bordered table-condensed table-hover table-striped" style="width: auto !important;">
				<tbody>
					<tr>
						<td>Source Node:</td>
						<td>{{ (nodes | filter:{_id:curServer.node})[0].name || 'Not set'}}</td>
					</tr>
					<tr>
						<td>Target Node:</td>
						<td><select ng-options="node._id as node.name for node in nodes track by node._id" ng-model="targetNode"></select></td>
					</tr>
					<tr ng-if="!(curServer.domstate=='running')">
						<td colspan="2"><span class="label label-danger">Please start the server for migration</span></td>
					</tr>
					<tr>
						<td colspan="2">
							<button class="btn btn-default" ng-disabled="!(curServer.domstate=='running') || !targetNode || (curServer.migrating)" ng-click="initiateMigration(targetNode);"><i class="fa fa-suitcase" aria-hidden="true"></i><br />Initiate</button>
							<button class="btn btn-default" ng-click="cancelMigration();"><i class="fa fa-stop" aria-hidden="true"></i><br />Cancel</button>
						</td>
					</tr>
					<tr ng-if="curServer.migrating">
						<td colspan="2">
							<pre>{{migrationStats | json}}</pre>
							<div class="table-responsive">
								<table class="table table-bordered table-condensed" style="width: auto !important">
									<tbody>
										<tr><td>Time Elapsed</td>			<td>{{migrationStats.timeElapsed}}</td></tr>
										<tr><td>Data Processed</td>		<td>{{migrationStats.dataProcessed[0]}} {{migrationStats.dataProcessed[1]}}</td></tr>
										<tr><td>Data Remaining</td>		<td>{{migrationStats.dataRemaining[0]}} {{migrationStats.dataRemaining[1]}}</td></tr>
										<tr><td>Data Total</td>				<td>{{migrationStats.dataTotal[0]}} {{migrationStats.dataTotal[1]}}</td></tr>
										<tr><td>Data Bandwidth</td>		<td>{{migrationStats.dataBandwidth[0]}} {{migrationStats.dataBandwidth[1]}}</td></tr>
										<tr><td>Memory Processed</td>		<td>{{migrationStats.memoryProcessed[0]}} {{migrationStats.memoryProcessed[1]}}</td></tr>
										<tr><td>Memory Remaining</td>		<td>{{migrationStats.memoryRemaining[0]}} {{migrationStats.memoryRemaining[1]}}</td></tr>
										<tr><td>Memory Total</td>			<td>{{migrationStats.memoryTotal[0]}} {{migrationStats.memoryTotal[1]}}</td></tr>
										<tr><td>Memory Bandwidth</td>		<td>{{migrationStats.memoryBandwidth[0]}} {{migrationStats.memoryBandwidth[1]}}</td></tr>
										<tr><td>Constant Pages</td>		<td>{{migrationStats.constantPages}}</td></tr>
										<tr><td>Normal Pages</td>			<td>{{migrationStats.normalPages}}</td></tr>
										<tr><td>Expected Downtime</td>	<td>{{migrationStats.expectedDowntime}}</td></tr>
										<tr><td>Setup Time</td>				<td>{{migrationStats.setupTime}}</td></tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>