<div class="panel panel-default">
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-bordered table-condensed table-hover table-striped" style="width: auto !important;">
				<tbody>
					<tr>
						<td>Source Node:</td>
						<td>{{ (nodes | filter:{_id:curServer.node})[0].name || 'Not set'}}</td>
					</tr>
					<tr>
						<td>Target Node:</td>
						<td><select ng-options="node._id as node.name for node in nodes track by node._id" ng-model="targetNode"></select></td>
					</tr>
					<tr>
						<td colspan="2">{{targetNode}}</td>
					</tr>
					<tr>
						<td colspan="2">
							<button class="btn btn-default" ng-disabled="!(curServer.domstate=='running') || !targetNode" ng-click="initiateMigration();"><i class="fa fa-suitcase" aria-hidden="true"></i><br />Initiate</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>