<section class="content-header">
	<h1>
		<i class="fa fa-gears fa-fw"></i> Settings
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
		<li class="active">Settings</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<uib-tabset>
				<uib-tab index="0" heading="General">
					<div class="panel panel-default">
						<div class="panel-body">
							<form editable-form name="settingsEditForm" onaftersave="save()">
								<div class="table-responsive">
									<table class="table table-bordered table-condensed table-hover table-striped table-nonfluid" style="width: auto;">
										<tbody>
											<tr><td width=200><b>Company Name: 		</b></td><td><span editable-text="settings.companyname">{{ settings.companyname }}</span></td></tr>
											<tr><td><b>Admin Email Address: 		</b></td><td><span editable-text="settings.adminemail">{{ settings.adminemail }}</span></td></tr>
											<tr><td><b>Support Email Address: 		</b></td><td><span editable-text="settings.supportemail">{{ settings.supportemail }}</span></td></tr>
											<tr><td><b>Accounting Email Address: 	</b></td><td><span editable-text="settings.accountingemail">{{ settings.accountingemail }}</span></td></tr>
											<tr><td><b>Sales Email Address: 		</b></td><td><span editable-text="settings.salesemail">{{ settings.salesemail }}</span></td></tr>
											<tr><td><b>Domain: 						</b></td><td><span editable-text="settings.domain">{{ settings.domain }}</span></td></tr>
											<tr><td><b>Logo URL: 					</b></td><td><span editable-text="settings.logourl">{{ settings.logourl }}</span></td></tr>
											<tr><td><b>Pay to Text: 				</b></td><td><span editable-textarea="settings.paytotext" e-rows="7" e-cols="40"><pre style="background:transparent;border:0;padding:0">{{ settings.paytotext }}</pre></span></td></tr>
											<tr>
												<td><b>Phone Numbers: 				</b></td>
												<td>
													<table class="table table-bordered table-condensed">
														<thead>
															<tr>
																<td>Order</td>
																<td>Country</td>
																<td>Number</td>
																<td>Link Number</td>
																<td>Delete</td>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="phone in settings.phones | orderBy:'order'">
																<td><span editable-text="phone.order">{{phone.order}}</span></td>
																<td><span editable-text="phone.country">{{phone.country}}</span></td>
																<td><span editable-text="phone.number">{{phone.number}}</span></td>
																<td><span editable-text="phone.linknumber">{{phone.linknumber}}</span></td>
																<td><button type="button" class="btn btn-danger btn-xs" ng-click="deletePhone(phone.order)"><i class="fa fa-trash fa-fw"></i></button></td>
															</tr>
														</tbody>
													</table>
													<button type="button" class="btn btn-primary btn-xs" ng-click="addPhone()">Add Phone</button>
												</td>
											</tr>
											<tr><td><b>Counters: 					</b></td><td><ul><li ng-repeat="counter in counters">{{counter._id}} (seq: {{counter.seq}})</li></ul></td></tr>
											<tr><td><b>Email Letter Head Color: 	</b></td><td><span editable-text="settings.emailletterheadcolor">{{settings.emailletterheadcolor}}</span></td></tr>
											<tr><td><b>Email Letter Head Logo URL: 	</b></td><td><span editable-text="settings.emailletterheadlogourl">{{settings.emailletterheadlogourl}}</span></td></tr>
											<tr>
												<td colspan=2>
													<button type="button" class="btn btn-primary btn-xs" ng-click="settingsEditForm.$show()" ng-show="!settingsEditForm.$visible">Edit</button>
													<button type="submit" class="btn btn-success btn-xs" ng-disabled="settingsEditForm.$waiting" ng-show="settingsEditForm.$visible">Save</button>
													<button type="button" class="btn btn-warning btn-xs" ng-disabled="settingsEditForm.$waiting" ng-click="settingsEditForm.$cancel()" ng-show="settingsEditForm.$visible">Cancel</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
						</div>
					</div>
				</uib-tab>
				<uib-tab index="1" heading="PayPal">
					<div class="panel panel-default">
						<div class="panel-body">
							<form editable-form name="settingsEditFormPayPal" onaftersave="save()">
								<div class="table-responsive">
									<table class="table table-bordered table-condensed table-hover table-striped table-nonfluid">
										<tbody>
											<tr><td width="200"><b>PayPal API Email:</b></td><td><span editable-text="settings.paypal.email">{{settings.paypal.email}}</span></td></tr>
											<tr><td width="200"><b>PayPal API Username:</b></td><td><span editable-text="settings.paypal.username">{{settings.paypal.username}}</span></td></tr>
											<tr><td width="200"><b>PayPal API Password:</b></td><td><span editable-text="settings.paypal.password">{{settings.paypal.password}}</span></td></tr>
											<tr><td width="200"><b>PayPal API Signature:</b></td><td><span editable-text="settings.paypal.signature">{{settings.paypal.signature}}</span></td></tr>
											<tr><td width="200"><b>PayPal API isSandBox:</b></td><td><span editable-text="settings.paypal.issandbox">{{settings.paypal.issandbox}}</span></td></tr>
											<tr>
												<td colspan=2>
													<button type="button" class="btn btn-primary btn-xs" ng-click="settingsEditFormPayPal.$show()" ng-show="!settingsEditFormPayPal.$visible">Edit</button>
													<button type="submit" class="btn btn-success btn-xs" ng-disabled="settingsEditFormPayPal.$waiting" ng-show="settingsEditFormPayPal.$visible">Save</button>
													<button type="button" class="btn btn-warning btn-xs" ng-disabled="settingsEditFormPayPal.$waiting" ng-click="settingsEditFormPayPal.$cancel()" ng-show="settingsEditFormPayPal.$visible">Cancel</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
						</div>
					</div>
				</uib-tab>
				<uib-tab index="1" heading="2CO">
					<div class="panel panel-default">
						<div class="panel-body">
							<form editable-form name="settingsEditForm2co" onaftersave="save()">
								<div class="table-responsive">
									<table class="table table-bordered table-condensed table-hover table-striped table-nonfluid">
										<tbody>
											<tr><td width="200"><b>2CO API Username:</b></td><td><span editable-text="settings.tco.username">{{settings.tco.username}}</span></td></tr>
											<tr><td width="200"><b>2CO API Password:</b></td><td><span editable-text="settings.tco.password">{{settings.tco.password}}</span></td></tr>
											<tr><td width="200"><b>2CO API Seller ID:</b></td><td><span editable-text="settings.tco.sellerid">{{settings.tco.sellerid}}</span></td></tr>
											<tr><td width="200"><b>2CO API Private Key:</b></td><td><span editable-text="settings.tco.privatekey">{{settings.tco.privatekey}}</span></td></tr>
											<tr><td width="200"><b>2CO API Publishable Key:</b></td><td><span editable-text="settings.tco.publishablekey">{{settings.tco.publishablekey}}</span></td></tr>
											<tr><td width="200"><b>2CO API Secret Word:</b></td><td><span editable-text="settings.tco.secret">{{settings.tco.secret}}</span></td></tr>
											<tr><td width="200"><b>2CO API isDemo:</b></td><td><span editable-text="settings.tco.isdemo">{{settings.tco.isdemo}}</span></td></tr>
											<tr><td width="200"><b>2CO API isSandBox:</b></td><td><span editable-text="settings.tco.issandbox">{{settings.tco.issandbox}}</span></td></tr>
											<tr>
												<td colspan=2>
													<button type="button" class="btn btn-primary btn-xs" ng-click="settingsEditForm2co.$show()" ng-show="!settingsEditForm2co.$visible">Edit</button>
													<button type="submit" class="btn btn-success btn-xs" ng-disabled="settingsEditForm2co.$waiting" ng-show="settingsEditForm2co.$visible">Save</button>
													<button type="button" class="btn btn-warning btn-xs" ng-disabled="settingsEditForm2co.$waiting" ng-click="settingsEditForm2co.$cancel()" ng-show="settingsEditForm2co.$visible">Cancel</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
						</div>
					</div>
				</uib-tab>
				<uib-tab index="1" heading="Mail Server">
					<div class="panel panel-default">
						<div class="panel-body">
							<form editable-form name="settingsEditFormMailServer" onaftersave="save()">
								<div class="table-responsive">
									<table class="table table-bordered table-condensed table-hover table-striped table-nonfluid">
										<tbody>
											<tr><td><b>Host:</b></td><td><span editable-text="settings.mailserver.host">{{settings.mailserver.host}}</span></td></tr>
											<tr><td><b>Port:</b></td><td><span editable-text="settings.mailserver.port">{{settings.mailserver.port}}</span></td></tr>
											<tr><td><b>isSecure:</b></td><td><span editable-text="settings.mailserver.isSecure">{{settings.mailserver.isSecure}}</span></td></tr>
											<tr><td><b>Reject Unauthorized:</b></td><td><span editable-text="settings.mailserver.rejectUnauthorized">{{settings.mailserver.rejectUnauthorized}}</span></td></tr>
											<tr><td><b>User:</b></td><td><span editable-text="settings.mailserver.user">{{settings.mailserver.user}}</span></td></tr>
											<tr><td><b>Pass:</b></td><td><span editable-text="settings.mailserver.pass">{{settings.mailserver.pass}}</span></td></tr>
											<tr>
												<td colspan=2>
													<button type="button" class="btn btn-primary btn-xs" ng-click="settingsEditFormMailServer.$show()" ng-show="!settingsEditFormMailServer.$visible">Edit</button>
													<button type="submit" class="btn btn-success btn-xs" ng-disabled="settingsEditFormMailServer.$waiting" ng-show="settingsEditFormMailServer.$visible">Save</button>
													<button type="button" class="btn btn-warning btn-xs" ng-disabled="settingsEditFormMailServer.$waiting" ng-click="settingsEditFormMailServer.$cancel()" ng-show="settingsEditFormMailServer.$visible">Cancel</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
						</div>
					</div>
				</uib-tab>
				<uib-tab index="1" heading="Back Blaze">
					<div class="panel panel-default">
						<div class="panel-body">
							<form editable-form name="settingsEditFormBackBlaze" onaftersave="save()">
								<div class="table-responsive">
									<table class="table table-bordered table-condensed table-hover table-striped table-nonfluid">
										<tbody>
											<tr><td><b>Host:</b></td><td><span editable-text="settings.backblaze.accountid">{{settings.backblaze.accountid}}</span></td></tr>
											<tr><td><b>Port:</b></td><td><span editable-text="settings.backblaze.applicationkey">{{settings.backblaze.applicationkey}}</span></td></tr>
											<tr>
												<td colspan=2>
													<button type="button" class="btn btn-primary btn-xs" ng-click="settingsEditFormBackBlaze.$show()" ng-show="!settingsEditFormBackBlaze.$visible">Edit</button>
													<button type="submit" class="btn btn-success btn-xs" ng-disabled="settingsEditFormBackBlaze.$waiting" ng-show="settingsEditFormBackBlaze.$visible">Save</button>
													<button type="button" class="btn btn-warning btn-xs" ng-disabled="settingsEditFormBackBlaze.$waiting" ng-click="settingsEditFormBackBlaze.$cancel()" ng-show="settingsEditFormBackBlaze.$visible">Cancel</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
						</div>
					</div>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>
</section>