<a ui-sref="r.dashboard.imagenew"><span class="btn btn-primary btn-xs"><i class="fa fa-puzzle-piece fa-fw"></i>  New Image</span></a>

<hr ng-if="images.length > 0" />

<table class="table table-striped table-bordered table-hover" ng-if="images.length > 0">
	<thead>
		<tr>
			<th>Row</th>
			<th>Name</th>
			<!--th>Description</th-->
			<th>Pool</th>
			<th>Base File</th>
			<th>Type</th>
			<th>Status</th>
			<th>Architecture</th>
			<th>Disk Driver</th>
			<th>Network Driver</th>
			<th>&nbsp;</th>
			<!--th>Details</th-->
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="image in images | orderBy:'name'">
			<td>{{$index +1}}</td>
			<td>{{image.name}}</td>
			<!--td>{{image.description}}</td-->
			<td><span ng-repeat="cnstorageshow in storages | filter:{_id:image.pool}">{{cnstorageshow.name}}</span></td>
			<td>{{image.basefile}}</td>
			<td>{{image.imagetype}}</td>
			<td>{{image.status}}</td>
			<td>{{image.architecture}}</td>
			<td>{{image.diskdriver}}</td>
			<td>{{image.netdriver}}</td>
			<td><a ui-sref="r.dashboard.image({id: image._id})" title="Details"><i class="fa fa-cog fa-fw"></i></a></td>
			<!--td>{{ image || json }}</td-->
		</tr>
	</tbody>
</table>