<section class="content-header">
	<h1>
		Servers
		<small>List</small>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
		<li class="active">Servers</li>
	</ol>
</section>

<section class="content">
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Servers <button class="btn btn-lg pull-right btn-primary" ng-click="orderServer();">Order New Server</button><br /><br /></h3></div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>Status</th>
								<th>Name</th>
								<th>RAM</th>
								<th>Disk</th>
								<th>DC</th>
								<th>Created on</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="server in servers">
								<td><li>&nbsp;</li></td>
								<td>{{server.domstate | titlecase}}</td>
								<td>{{server.name}}</td>
								<td>{{server.ram / 1024}}G</td>
								<td>{{server.hdd}}G</td>
								<td>{{ (dataCenters | filter:{_id:server.dc._id})[0].name }}</td>
								<td>{{formatDate(server.createdat)}}</td>
								<td><a ui-sref="r.server({id: server._id})" title="Details"><i class="fa fa-cog fa-fw"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</section>