<section class="content-header">
	<h1>
		<i class="fa fa-server fa-fw"></i> Servers
		<!--small>List</small-->
		<a ui-sref="r.newserver" class="btn btn-sm btn-primary">Order New Server</a>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
		<li class="active">Servers</li>
	</ol>
</section>

<section class="content">
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>List of your servers</h3></div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>Status</th>
								<th>Name</th>
								<th>RAM</th>
								<th>Disk</th>
								<th>DC</th>
								<th>Created on</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="server in servers">
								<td><li>&nbsp;</li></td>
								<td>{{server.domstate | titlecase}}</td>
								<td>{{server.name}}</td>
								<td>{{server.ram / 1024}}G</td>
								<td>{{server.hdd}}G</td>
								<td>{{ (dataCenters | filter:{_id:server.dc._id})[0].name }}</td>
								<td>{{formatDate(server.createdat)}}</td>
								<td>
									<a ui-sref="r.server({id: server._id})" title="Details"><i class="fa fa-cog fa-fw"></i></a>
									<!--a style="cursor:pointer;" title="Delete" ng-click="deleteServerByConfirm(server._id)"><i class="fa fa-trash fa-fw"></i></a-->
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</section>