	<div class="login-box">
		<div class="login-logo">
			<a href="http://luckynode.com" style="font-family:'bree-serif';"><img src="/img/logodashboardfull.png" title="LuckyNode"></a>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg" style="font-size:30px;line-height:30px;">{{buttonText}}</p>
			<div class="alert alert-error" ng-if="signinWarning && !signingup">{{signinWarning}}</div>
			<div class="alert alert-error" ng-if="signupError">{{signupError}}</div>
			<form method="post" style="padding-bottom:30px;" ng-submit="signin()">
				<div class="form-group has-feedback">
					<input type="email" ng-model="email" class="form-control" placeholder="Email" ng-change="checkPassState()">
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback" ng-show="forgottenPassword">
					<input type="text" ng-model="lostverification" class="form-control" placeholder="Verification Code">
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div ng-show="signingup && signinWarning" class="alert alert-error" style="padding-top:0px;padding-bottom:0px;margin-top:-12px;">{{signinWarning}}</div>
				<div class="form-group has-feedback">
					<input type="password" ng-model="pass" class="form-control" placeholder="Password" ng-change="showStrength()">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div ng-show="signingup && passwordStrengthClass" class="alert" ng-class="passwordStrengthClass" style="padding-top:0px;padding-bottom:0px;margin-top:-12px;">{{passwordStrength}}</div>
				<div class="form-group has-feedback" ng-show="signingup">
					<input type="password" ng-model="pass2" class="form-control" placeholder="Repeat Password" ng-change="showPassMatch()">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div ng-show="signingup && passwordMatch" class="alert" ng-class="passwordMatchClass" style="padding-top:0px;padding-bottom:0px;margin-top:-12px;">{{passwordMatch}}</div>
				<button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="(!shouldSignUp && signingup)">{{buttonText}}</button>
			</form>
			<a style="cursor:pointer;" ng-if="!signingup" ng-click="enableForgotPassword()">I forgot my password</a>
			<button type="button" class="btn btn-primary btn-block btn-flat" ng-if="(!signingup && forgottenPassword)" ng-click="forgotPassword()">Send Code</button>
			<br>
			<a class="text-center" ng-click="showSignUp()" style="cursor:pointer;" ng-if="!signingup">I'm new, sign me up please</a>

		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->