<!-- Video -->
<!--div id="index-video" class="hidden-xs"-->
<div id="index-video">
	<div class="index-video-container">
		<div class="videocaption">
			<h2>CLOUD HOSTING FOR EPM PROFESSIONALS</h2>
			<h4>Create your EPM cloud server in just 15 minutes</h4>
			<p>
				<a class="btn btn-slide" ui-sref="home.features">Find out more</a>
				<a class="btn btn-slide" href="{{domain}}/cloud/signup">Sign Up</a>
			</p>
		</div>
		<video autoplay loop muted>
			<source src="/home/video/numbers.mp4" type="video/mp4">
			<source src="/home/video/numbers.webm" type="video/webm">
			<source src="/home/video/numbers.ogv" type="video/ogg">
		</video>
	</div>
</div>
<!-- End of Video -->


<!--  Features -->
<section class="features">
	<div class="row">
		<div class="col-sm-12">
			<h2>Easy to Set Up. Peace of Mind Included.</h2>
		</div>
	</div>

	<div class="row spacing-70">
		<div class="col-sm-4">
			<div class="feature wow zoomIn" data-wow-delay="0.2s">
				<img src="/home/images/3steps.png" alt="" />
				<h4>Easy to Deploy</h4>
				<p>Create your server with 3 simple steps and have the full administrative access on it.</p>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="feature wow zoomIn" data-wow-delay="0.4s">
				<img src="/home/images/ssdcached.png" alt="" />
				<h4>SSD Cached Drives</h4>
				<p>Our storage system is built on Ceph, the technology enables most of the clouds to scale at will.</p>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="feature wow zoomIn" data-wow-delay="0.6s">
				<img src="/home/images/peaceofmind.png" alt="" />
				<h4>No Hassle Principle</h4>
				<p>Our engineers are here to make sure you  don't have to think about infrastructure and only work on your amazing applications.</p>
			</div>
		</div>

	</div>
</section>
<!-- End of Features -->

<!--  Pricing Tables -->
<section class="pricingtables">
	<div class="row">
		<div class="col-sm-12">
			<h2>Simple Pricing</h2>
			<p>Pay for the server you want, not a dime more. No setup cost, no hidden fees.</p>
		</div>
	</div>

	<div class="row spacing-70  no-gutter">

		<div class="col-sm-3 wow zoomIn" data-wow-delay="0.2s">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="text-center">Starter Edition</h3>
				</div>
				<div class="panel-body text-center">
					<span>Best for learning and single user</span>
					<h4>$50</h4>
					<span class="per">PER MONTH</span>
				</div>
				<ul class="text-center">
					<li>1 CPU core</li>
					<li>6 GB RAM</li>
					<li>50 GB Disk Space</li>
					<li>1 TB Network Traffic</li>
					<li>Unlimited projects</li>
					<li>24/7 support</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-pricetable" href="{{domain}}/cloud/signup" target="_self">Sign Up</a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 wow zoomIn" data-wow-delay="0.4s">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="text-center">Consulting Edition</h3>
				</div>
				<div class="panel-body text-center">
					<span>Best for demo purposes</span>
					<h4>$100</h4>
					<span class="per">PER MONTH</span>
				</div>
				<ul class="text-center">
					<li>2 CPU Cores</li>
					<li>10 GB RAM</li>
					<li>50 GB Disk Space</li>
					<li>1 TB Network Traffic</li>
					<li>Unlimited projects</li>
					<li>24/7 support</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-pricetable" href="{{domain}}/cloud/signup" target="_self">Sign Up</a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 wow zoomIn most-popular" data-wow-delay="0.6s">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="text-center">Business Edition</h3>
				</div>
				<div class="panel-body text-center">
					<span>Best for small-medium sized teams</span>
					<h4>$200</h4>
					<span class="per">PER MONTH</span>
				</div>
				<ul class="text-center">
					<li>4 CPU Cores</li>
					<li>20 GB RAM</li>
					<li>100 GB Disk Space</li>
					<li>2 TB Network Traffic</li>
					<li>Unlimited projects</li>
					<li>24/7 support</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-pricetable" href="{{domain}}/cloud/signup" target="_self">Sign Up</a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 wow zoomIn" data-wow-delay="0.8s">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="text-center">Enterprise Edition</h3>
				</div>
				<div class="panel-body text-center">
					<span>Best for larger teams</span>
					<h4>$300</h4>
					<span class="per">PER MONTH</span>
				</div>
				<ul class="text-center">
					<li>6 CPU Cores</li>
					<li>30 GB RAM</li>
					<li>150 GB Disk Space</li>
					<li>3 TB Network Traffic</li>
					<li>Unlimited projects</li>
					<li>24/7 support</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-pricetable" href="{{domain}}/cloud/signup" target="_self">Sign Up</a>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- End of Pricing Tables -->