<!-- Top Bar-->
<div class="top sticky">
	<div class="row">
		<div class="col-sm-3">
			<div class="logo">
				<a href="/home"><img src="images/epmvirtuallogo.png" alt="epmvirtual.com logo" />
				</a>
			</div>
		</div>
		<div class="col-sm-9">
			<nav id="desktop-menu">
				<ul class="sf-menu" id="navigation">
					<li><a ui-sref="home.pricing">Pricing</a></li>
					<li><a ui-sref="home.features">Features</a></li>
					<li><a ui-sref="home.library">Library</a></li>
					<li><a ui-sref="home.contact">Contact</a></li>
					<li><a ui-sref="home.signin">Sign In</a></li>
					<li><a ui-sref="home.signup" style="background-color:#DE6262;color:white;font-weight:bold;">Sign Up</a></li>
					<li><a ui-sref="home.console" style="background-color:#3a5955;color:white;font-weight:bold;">Console</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<!-- End of Top Bar-->
<div class="stickyarea"></div>