<!-- Top Bar-->
<div class="top sticky">
	<div class="row">
		<div class="col-sm-3">
			<div class="logo">
				<a href="/"><img src="/home/images/epmvirtuallogo.png" alt="epmvirtual.com logo" /></a>
			</div>
		</div>
		<div class="col-sm-9">
			<nav id="desktop-menu">
				<ul class="sf-menu" id="navigation">
					<li><a ui-sref="home.pricing">Pricing</a></li>
					<li><a ui-sref="home.features">Features</a></li>
					<li><a ui-sref="home.library">Library</a></li>
					<li><a ui-sref="home.contact">Contact</a></li>
					<li><a href="{{domain}}/cloud/signin" 		target="_self">Sign In</a></li>
					<li><a href="{{domain}}/cloud/signup" style="background-color:#DE6262;color:white;font-weight:bold;" target="_self">Sign Up</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<!-- End of Top Bar-->
<div class="stickyarea"></div>