<section class="content-header">
	<h1>
		<i class="fa fa-arrows fa-fw"></i> Manager
		<small>{{ curManager.name }}</small>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
		<li><a ui-sref="r.dashboard.managers">Managers</a></li>
		<li class="active">Manager</li>
	</ol>
</section>

<section class="content">

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Main Information</h3>
	</div>
	<div class="panel-body">
		<form editable-form name="managerEditForm" onaftersave="saveManager()">
			<div class="table-responsive">
				<table class="table table-bordered table-condensed table-hover table-striped table-nonfluid">
					<!--thead>
						<tr>
							<th>Property</th>
							<th>Data</th>
						</tr>
					</thead-->
					<tbody>
						<tr>
							<td><b>Name:</b></td>
							<td>
								<span editable-text="curManager.name">{{ curManager.name }}</span>
							</td>
						</tr>
						<tr>
							<td><b>Data Center:</b></td>
							<td>
								<span editable-select="curManager.datacenter" e-ng-options="datacenter._id as datacenter.name for datacenter in dataCenters">
									{{ (dataCenters | filter:{_id: curManager.datacenter})[0].name || 'Not set' }}
								</span>
							</td>
						</tr>
						<tr>
							<td><b>IP Address:</b></td>
							<td>
								<span editable-text="curManager.ip">{{ curManager.ip }}</span>
							</td>
						</tr>
						<tr>
							<td><b>Internal IP:</b></td>
							<td>
								<span editable-text="curManager.internalip">{{ curManager.internalip }}</span>
							</td>
						</tr>
						<tr>
							<td><b>Detail:</b></td>
							<td><pre>{{ curManager | json }}</pre>
							</td>
						</tr>
						<tr>
							<td colspan=2>
								<button type="button" class="btn btn-primary btn-xs" ng-click="managerEditForm.$show()" ng-show="!managerEditForm.$visible">Edit</button>
								<button type="button" class="btn btn-danger btn-xs" ng-click="deleteManager()" ng-show="!managerEditForm.$visible">Delete</button>
								<button type="submit" class="btn btn-success btn-xs" ng-disabled="managerEditForm.$waiting" ng-show="managerEditForm.$visible">Save</button>
								<button type="button" class="btn btn-warning btn-xs" ng-disabled="managerEditForm.$waiting" ng-click="managerEditForm.$cancel()" ng-show="managerEditForm.$visible">Cancel</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</div>

</section>