<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-hdd-o fa-fw"></i>  Main Information</h3>
	</div>
	<div class="panel-body">
		<form editable-form name="storageEditForm" onaftersave="saveStorage()">
			<div class="table-responsive">
				<table class="table table-bordered table-condensed table-hover table-striped table-nonfluid">
					<!--thead>
						<tr>
							<th>Property</th>
							<th>Data</th>
						</tr>
					</thead-->
					<tbody>
						<tr>
							<td><b>Name:</b></td>
							<td>
								<span editable-text="curStorage.name">{{ curStorage.name }}</span>
							</td>
						</tr>
						<tr>
							<td><b>Data Center:</b></td>
							<td>
								<span editable-select="curStorage.datacenter" e-ng-options="datacenter._id as datacenter.name for datacenter in dataCenters">
									{{ (dataCenters | filter:{_id: curStorage.datacenter})[0].name || 'Not set' }}
								</span>
							</td>
						</tr>
						<tr>
							<td><b>Type:</b></td>
							<td>
								<span editable-select="curStorage.type" e-ng-options="storageType.name as storageType.name for storageType in storageTypes">
									{{ (storageTypes | filter:{name: curStorage.type})[0].name || 'Not set' }}
								</span>
							</td>
						</tr>
						<tr>
							<td><b>Source:</b></td>
							<td>
								<span editable-text="curStorage.source">{{ curStorage.source }}</span>
							</td>
						</tr>
						<tr>
							<td><b>Detail:</b></td>
							<td><pre>{{ curStorage | json }}</pre>
							</td>
						</tr>
						<tr>
							<td colspan=2>
								<button type="button" class="btn btn-primary btn-xs" ng-click="storageEditForm.$show()" ng-show="!storageEditForm.$visible">Edit</button>
								<button type="button" class="btn btn-danger btn-xs" ng-click="deleteStorage()" ng-show="!storageEditForm.$visible">Delete</button>
								<button type="submit" class="btn btn-success btn-xs" ng-disabled="storageEditForm.$waiting" ng-show="storageEditForm.$visible">Save</button>
								<button type="button" class="btn btn-warning btn-xs" ng-disabled="storageEditForm.$waiting" ng-click="storageEditForm.$cancel()" ng-show="storageEditForm.$visible">Cancel</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</div>