<a ui-sref="r.dashboard.isofilenew"><span class="btn btn-primary btn-xs"><i class="fa fa-dot-circle-o fa-fw"></i>  New ISO File</span></a>

<hr ng-if="isofiles.length > 0" />

<table class="table table-striped table-bordered table-hover" ng-if="isofiles.length > 0">
	<thead>
		<tr>
			<th>Row</th>
			<th>Name</th>
			<th>Description</th>
			<th>Pool</th>
			<th>Base File</th>
			<th>Type</th>
			<th>Status</th>
			<th>Architecture</th>
			<th>Actions</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="isofile in isofiles | orderBy:'name'">
			<td>{{$index +1}}</td>
			<td>{{isofile.name}}</td>
			<td>{{isofile.description}}</td>
			<td><span ng-repeat="cnstorageshow in storages | filter:{_id:isofile.pool}">{{cnstorageshow.name}}</span></td>
			<td>{{isofile.file}}</td>
			<td>{{isofile.isofiletype}}</td>
			<td>{{isofile.status}}</td>
			<td>{{isofile.architecture}}</td>
			<td><a ui-sref="r.dashboard.isofile({id: isofile._id})" title="Details"><i class="fa fa-cog fa-fw"></i></a></td>
			<td>{{ isofile || json }}</td>
		</tr>
	</tbody>
</table>