<!--  Features -->
<div class="breadcrumbs">
<div class="row">
	<div class="col-sm-6">
		<h1>Features</h1>
	</div>
	<div class="col-sm-6">
		<ol class="breadcrumb">
			<li>You are here: </li>
			<li><a ui-sref="home">Home</a></li>
			<li class="active">Features</li>
		</ol>
	</div>
</div>
</div>
<section class="about">
<div class="about-hero">
	<img src="/home/images/corebusiness.jpg" alt="" style="width:100%;" />
	<div class="about-text">
		<h2>This is what we do</h2>
		<p>Hyperion hosting is our core and only business.</p>
	</div>
</div>

<div class="row spacing-70">
	<div class="col-sm-8 center-block">
		<p>We provide the robust infrastructure for all your Hyperion related needs.</p>
		<p>With epmvirtual.com offerings you can:
			<ul>
				<li>Reduce infrastructure costs</li>
				<li>Streamline deployment process</li>
				<li>Improve Accessibility</li>
				<li>Improve Flexibility</li>
				<li>Have peace of mind</li>
			</ul>
		</p>
		<p>
			<center><a href="{{domain}}/cloud/signup" class="btn btn-success" style="background-color:rgba(0,0,0,.75)" target="_self">Start Here</a></center>
			<a class="btn btn-lg btn-pricetable"  target="_self">Sign Up</a>
		</p>
	</div>
</div>

<div class="row spacing-70">
	<div class="col-sm-8 center-block">
		<h3>Reduce Infrastructure Costs</h3>
		<p>Since EPMVirtual provides the infrastructure for your deployments at the ready, you don't need to invest on servers, networks, etc.</p>
		<p>Once you start using our services it becomes only a utility bill, and you will realize that you don't need to think about it any more.</p>
	</div>
</div>

<div class="row spacing-70">
	<div class="col-sm-8 center-block">
		<h3>Streamline Your Deployment Processes</h3>
		<p>With our robust system, you can create your virtual server in minutes and start using without the headache of installing all the applications.</p>
	</div>
</div>

<div class="row spacing-70">
	<div class="col-sm-8 center-block">
		<h3>Improved Accessibility</h3>
		<p>Your virtual server will have a static IP address assigned and will be accessible from anywhere in the world.</p>
		<p>No more trying to find your current IP address or trying to figure out how dynamic DNS systems work.</p>
	</div>
</div>

<div class="row spacing-70">
	<div class="col-sm-8 center-block">
		<h3>Improved Flexibility</h3>
		<p>You can create or destroy a virtual server without a manual intervention. This creates an EPM playground for your projects, demos or trainings.</p>
		<p>Also, when you need more resources, it is only a couple of clicks to increase your server capacity. Running out of resources, no more.</p>
	</div>
</div>

<div class="row spacing-70">
	<div class="col-sm-8 center-block">
		<h3>Have a Peace of Mind</h3>
		<p>No Need to Learn Technological "mumbo-jumbo"</p>
		<p>You don't need to think about the technological aspects of a server, like RAID, CPU, memory, shared nothing environment...<br />
		We take care of all of this for you.</p>
		<p>For the tech savvy:
			<ul>
				<li>We are using Ceph cloud storage system with replicated pools (redundant storage), so your data is safe with us.</li>
				<li>You don't share your resources, we never oversell:
					<ul>
						<li>Host servers always have more cores than sold</li>
						<li>Host servers always have more memory than sold</li>
						<li>Storage system has more disk than sold</li>
					</ul>
				</li>
			</ul>
		</p>
	</div>
</div>

</section>