<!DOCTYPE html>
<html lang="en">
<head>
	<title>LuckyNode::people's cloud</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="lib/bootstrap-social/bootstrap-social.css">
	<link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css">
	<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LuckyNode</a>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="jumbotron">
			<h1>Sign In.<br /></h1>
			<hr />
			<form role="form" method="post">
				<div class="form-group">
					<label for="email">Email address:</label>
					<input type="email" name="user" class="form-control" id="email">
				</div>
				<div class="form-group">
					<label for="pwd">Password:</label>
					<input type="password" name="pass" class="form-control" id="pwd">
				</div>
				<div class="checkbox">
					<label><input type="checkbox"> Remember me</label>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12">
				<footer>
					<p>&copy; Copyright 2015 LuckyNode::People's Cloud</p>
				</footer>
			</div>
		</div>
	</div>
	<div ng-view></div>
</body>

</html>