<section class="content-header">
	<h1>
		<i class="fa fa-money fa-fw"></i> Transaction
		<small>#{{ curTransaction._id }}</small>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
		<li><a ui-sref="r.dashboard.transactions">Transactions</a></li>
		<li class="active">Transaction</li>
	</ol>
</section>

<section class="content">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<uib-tabset>
			<uib-tab index="0" heading="Details">
				<form editable-form name="transactionEditForm" onaftersave="saveTransaction()">
					<div class="table-responsive">
						<table class="table table-bordered table-condensed table-hover table-striped table-nonfluid">
							<tbody>
								"feeChecked": false
								<th>Fee Checked</th>
								<th>Actions</th>
								<!--th>Source Code</th-->


								<tr><td width="120">	<b>Processor: 		</b></td><td>{{ curTransaction.method }}</td></tr>
								<tr><td> 				<b>Processor ID: 	</b></td><td><span editable-text="curTransaction.id" e-size="100">{{ curTransaction.id }}</span></td></tr>
								<tr><td> 				<b>Amount: 			</b></td><td><span editable-text="curTransaction.amount" e-size="100">{{ formatCurrency(curTransaction.amount) }}</span></td></tr>
								<tr><td> 				<b>Fee: 				</b></td><td><span editable-text="curTransaction.fee" e-size="100">{{ formatCurrency(curTransaction.fee) }}</span></td></tr>
								<tr>
									<td><b>User: 		</b></td>
									<td>
										<span editable-select="curTransaction.userid" e-ng-options="user._id as user.name+' '+user.surname+' ('+user.email+')' for user in users">
											{{ (users | filter:{_id: curTransaction.userid})[0].name || '' }}
											{{ (users | filter:{_id: curTransaction.userid})[0].surname || '' }}
											({{ (users | filter:{_id: curTransaction.userid})[0].email || 'Not set' }})
										</span>
									</td>
								</tr>
								<tr><td> 				<b>Details: 		</b></td><td><span editable-text="curTransaction.detail" e-size="100">{{ curTransaction.detail }}</span></td></tr>
								<tr><td>					<b>Date: 			</b></td><td>{{ formatDate(curTransaction.details.date) }} 		</td></tr>
								<tr>
									<td><b>Date: </b></td>
									<td><span editable-combodate="curTransaction.date" e-max-year="2100">{{ (curTransaction.date | date:"yyyy-MM-dd HH:mm:ss Z") || 'empty' }}</span></td>
								</tr>
								<tr><td>					<b>Fee Checked: 	</b></td><td>{{ curTransaction.feeChecked }} 					</td></tr>
								<tr>
									<td colspan=2>
										<button type="button" class="btn btn-primary btn-xs" ng-click="transactionEditForm.$show()" ng-show="!transactionEditForm.$visible">Edit</button>
										<button type="button" class="btn btn-danger btn-xs" ng-click="deleteTransaction()" ng-show="!transactionEditForm.$visible">Delete</button>
										<button type="submit" class="btn btn-success btn-xs" ng-disabled="transactionEditForm.$waiting" ng-show="transactionEditForm.$visible">Save</button>
										<button type="button" class="btn btn-warning btn-xs" ng-disabled="transactionEditForm.$waiting" ng-click="transactionEditForm.$cancel()" ng-show="transactionEditForm.$visible">Cancel</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</uib-tab>
			<uib-tab index="1" heading="Source Code">
				<pre>{{curTransaction | json}}</pre>
			</uib-tab>
		</uib-tabset>
	</div>
</div>



<!--div class="panel panel-default">
	<div class="panel-body">

	</div>
</div-->
</section>