<section class="content-header">
	<h1>
		<i class="fa fa-dot-circle-o fa-fw"></i> New Iso File
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
		<li><a ui-sref="r.dashboard.isofiles">Iso Files</a></li>
		<li class="active">New Iso File</li>
	</ol>
</section>

<section class="content">

<div class="panel panel-info" style="margin:0;padding:0">
	<!--div class="panel-heading">
		<div class="panel-title"><i class="fa fa-dot-circle-o fa-fw"></i> New ISO File</div>
	</div-->
	<div class="panel-body" style="padding-top:30px;">
		<div ng-if="isofilenewalert" class="alert alert-danger alert-sm col-sm-12">{{isofilenewalert}}</div>
		<form id="newisofileform" class="form-horizontal" role="form" ng-submit="addIsofile()">
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Name*</span>
				<input type="text" ng-model="newIsofile._name" placeholder="please enter isofile name" class="form-control" />
			</div>
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Description</span>
				<textarea ng-model="newIsofile._description" placeholder="please enter image description" class="form-control" rows="5" />
			</div>
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Pool*</span>
				<select class="form-control" ng-model="newIsofile._pool" ng-options="storage.name for storage in storages track by storage._id" ng-change="isofileStoreChange()">
					<option value="">Please select</option>
				</select>
			</div>
			<div ng-if="(newIsofile._pool)" class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">File*</span>
				<select class="form-control" ng-model="newIsofile._file" ng-options="file.name for file in selectedStorageIsos"></select>
			</div>
			<div ng-if="(!newIsofile._pool)" class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">File*</span>
				<input type="text" ng-model="newIsofile._file" placeholder="please enter isofile name" class="form-control" />
			</div>
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Type*</span>
				<select class="form-control" ng-model="newIsofile._isofiletype">
					<option value="iso">ISO</option>
				</select>
			</div>
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Status*</span>
				<select class="form-control" ng-model="newIsofile._status">
					<option value="enabled">Enabled</option>
					<option value="disabled">Disabled</option>
				</select>
			</div>
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Architecture*</span>
				<select class="form-control" ng-model="newIsofile._architecture">
					<option value="i386">i386</option>
					<option value="x86_64">x86_64</option>
				</select>
			</div>
			<!--pre>{{newIsofile || json}}</pre-->
			<div style="margin-top:10px" class="form-group">
				<div class="col-sm-12 controls">
					<button type="submit" class="btn btn-success btn-sm">Create</button>
					<button type="button" ng-click="cancelIsofileAdd()" class="btn btn-danger btn-sm">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>

</section>