<table class="table table-striped table-bordered table-hover" ng-if="lnusers.length > 0">
	<thead>
		<tr>
			<th>Row</th>
			<th>ID</th>
			<th>Name</th>
			<th>Surname</th>
			<th>JoinDate</th>
			<th>isAdmin</th>
			<th>Role</th>
			<th>Email</th>
			<th>Address</th>
			<th>Verification Code</th>
			<th>Verified</th>
			<!--th>Details</th-->
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="curuser in lnusers | orderBy:'name'">
			<td>{{$index +1}}</td>
			<td>{{curuser._id}}</td>
			<td>{{curuser.name}}</td>
			<td>{{curuser.surname}}</td>
			<td>{{curuser.joindate}}</td>
			<td>{{curuser.isAdmin}}</td>
			<td>{{curuser.role}}</td>
			<td>{{curuser.email}}</td>
			<td>{{curuser.address}}</td>
			<td>{{curuser.verificationcode}}</td>
			<td>{{curuser.verified}}</td>
			<!--td>{{ curuser | json }}</td-->
		</tr>
	</tbody>
</table>