<aside class="main-sidebar" style="background-color:#ECF0F5;"></aside>
<header class="main-header">
</header>
<section class="content-header">

</section>
<section class="content">

	<div class="login-box">
		<div class="login-logo">
			<a href="https://luckynode.com">LuckyNode</a><br />
			<button class="btn btn-lg btn-success" ui-sref="r.dashboard">Login</button>
		</div>
		<!-- /.login-logo -->



		<!-- /.login-box-body -->
	</div>
</section>
<script>
$.AdminLTE.layout.activate();
$.AdminLTE.layout.fix();
$.AdminLTE.layout.fixSidebar();
$.AdminLTE.pushMenu.activate("[data-toggle='offcanvas']");
</script>