<div style="padding-top:5px;">
	<ul>
		<li ng-class="{active : isCurFocus('manager')}"		ng-click="managersGo()">	<i class="fa fa-arrows fa-fw"></i>			Managers</li>
		<li ng-class="{active : isCurFocus('datacenter')}"	ng-click="datacentersGo()">	<i class="fa fa-building fa-fw"></i>		Data Centers</li>
		<li ng-class="{active : isCurFocus('node')}"		ng-click="nodesGo()">		<i class="fa fa-industry fa-fw"></i>		Nodes</li>
		<li ng-class="{active : isCurFocus('ipblock')}"		ng-click="ipblocksGo()">	<i class="fa fa-share-alt fa-fw"></i> 		IP Blocks</li>
		<li ng-class="{active : isCurFocus('storage')}"		ng-click='storagesGo()'>	<i class="fa fa-hdd-o fa-fw"></i> 			Storage</li>
		<li ng-class="{active : isCurFocus('client')}"		ng-click='clientsGo()'>		<i class="fa fa-users fa-fw"></i>			Clients</li>
		<li ng-class="{active : isCurFocus('plan')}"		ng-click='plansGo()'>		<i class="fa fa-clone fa-fw"></i>			Plans</li>
		<li ng-class="{active : isCurFocus('image')}"		ng-click='imagesGo()'>		<i class="fa fa-puzzle-piece fa-fw"></i>	Images</li>
		<li ng-class="{active : isCurFocus('server')}"		ng-click='serversGo()'>		<i class="fa fa-server fa-fw"></i>			Servers</li>
		<li ng-class="{active : isCurFocus('isofile')}"		ng-click='isofilesGo()'>		<i class="fa fa-dot-circle-o fa-fw"></i>	ISO Files</li>
	</ul>
</div>