<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
	<!-- Sidebar user panel -->
	<div class="user-panel">
		<div class="pull-left image">
			<img src="/img/userimages/Ali160.jpg" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>Ali Rıza Dikici</p>
			<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
		</div>
	</div>
	<!-- search form -->
	<form action="#" method="get" class="sidebar-form">
		<div class="input-group">
			<input type="text" name="q" class="form-control" placeholder="Search...">
			<span class="input-group-btn">
				<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
			</span>
		</div>
	</form>
	<!-- /.search form -->
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu">
		<li class="header">MAIN NAVIGATION</li>
		<li ng-class="{active : isCurFocus('dashboard')}"		><a ui-sref="r.dashboard">						<i class="fa fa-dashboard"></i>		<span>Dashboard</span> 																					</a></li>
		<li ng-class="{active : isCurFocus('manager')}"			><a ui-sref="r.dashboard.managers">			<i class="fa fa-arrows"></i>			<span>Managers</span> 			<span class="label label-primary pull-right">2</span>	</a></li>
		<li ng-class="{active : isCurFocus('datacenter')}"		><a ui-sref="r.dashboard.datacenters">		<i class="fa fa-building"></i>		<span>Data Centers</span> 		<span class="label label-primary pull-right">2</span>	</a></li>
		<li ng-class="{active : isCurFocus('node')}"				><a ui-sref="r.dashboard.nodes">				<i class="fa fa-industry"></i>		<span>Nodes</span> 				<span class="label label-primary pull-right">2</span>	</a></li>
		<li ng-class="{active : isCurFocus('ipblock')}"			><a ui-sref="r.dashboard.ipblocks">			<i class="fa fa-share-alt"></i> 		<span>IP Blocks</span> 			<span class="label label-primary pull-right">2</span>	</a></li>
		<li ng-class="{active : isCurFocus('storage')}"			><a ui-sref="r.dashboard.storages">			<i class="fa fa-hdd-o"></i> 			<span>Storage Pools</span> 	<span class="label label-primary pull-right">2</span>	</a></li>
		<li ng-class="{active : isCurFocus('user')}"				><a ui-sref="r.dashboard.users">				<i class="fa fa-users"></i>			<span>Users</span> 				<span class="label label-primary pull-right">2</span>	</a></li>
		<li ng-class="{active : isCurFocus('user')}"				><a ui-sref="r.dashboard.transaction">		<i class="fa fa-money"></i>			<span>Transactions</span> 																				</a></li>
		<li ng-class="{active : isCurFocus('invoice')}"			><a ui-sref="r.dashboard.invoices">			<i class="fa fa-file-text-o"></i>	<span>Invoices</span> 																					</a></li>
		<li ng-class="{active : isCurFocus('plan')}"				><a ui-sref="r.dashboard.plans">				<i class="fa fa-clone"></i>			<span>Plans</span> 				<span class="label label-primary pull-right">2</span>	</a></li>
		<li ng-class="{active : isCurFocus('image')}"			><a ui-sref="r.dashboard.images">			<i class="fa fa-puzzle-piece"></i>	<span>Images</span> 				<span class="label label-primary pull-right">2</span>	</a></li>
		<li ng-class="{active : isCurFocus('imagegroup')}"		><a ui-sref="r.dashboard.imagegroups">		<i class="fa fa-object-group"></i>	<span>Image Groups</span> 																				</a></li>
		<li ng-class="{active : isCurFocus('server')}"			><a ui-sref="r.dashboard.servers">			<i class="fa fa-server"></i>			<span>Servers</span> 			<span class="label label-primary pull-right">2</span>	</a></li>
		<li ng-class="{active : isCurFocus('isofile')}"			><a ui-sref="r.dashboard.isofiles">			<i class="fa fa-dot-circle-o"></i>	<span>ISO Files</span> 			<span class="label label-primary pull-right">2</span>	</a></li>
		<li ng-class="{active : isCurFocus('mailtemplate')}"	><a ui-sref="r.dashboard.mailtemplates">	<i class="fa fa-newspaper-o"></i>	<span>Mail Templates</span> 																			</a></li>
		<li ng-class="{active : isCurFocus('library')}"			><a ui-sref="r.dashboard.library">			<i class="fa fa-book"></i>				<span>Library</span> 																					</a></li>
		<li ng-class="{active : isCurFocus('logs')}"				><a ui-sref="r.dashboard.logs">				<i class="fa fa-bug"></i>				<span>Logs</span> 				<span class="label label-primary pull-right">2</span>	</a></li>
		<li class="header">LABELS</li>
		<li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
		<li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
		<li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
	</ul>
</section>
<!-- /.sidebar -->
