<section class="content-header">
	<h1>
		Dashboard
		<small>Home Page</small>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
	</ol>
</section>

<section class="content">
<div class="row">
	<div class="col-xs-6">
		<ul>
			<li><a ui-sref="r.dashboard.managers">		<i class="fa fa-arrows"></i>		<span>Managers</span> 		</a></li>
			<li><a ui-sref="r.dashboard.datacenters">	<i class="fa fa-building"></i>		<span>Data Centers</span> 	</a></li>
			<li><a ui-sref="r.dashboard.nodes">			<i class="fa fa-industry"></i>		<span>Nodes</span> 			</a></li>
			<li><a ui-sref="r.dashboard.ipblocks">		<i class="fa fa-share-alt"></i> 	<span>IP Blocks</span> 		</a></li>
			<li><a ui-sref="r.dashboard.storages">		<i class="fa fa-hdd-o"></i> 		<span>Storage</span> 		</a></li>
			<li><a ui-sref="r.dashboard.clients">		<i class="fa fa-users"></i>			<span>Clients</span> 		</a></li>
			<li><a ui-sref="r.dashboard.plans">			<i class="fa fa-clone"></i>			<span>Plans</span> 			</a></li>
			<li><a ui-sref="r.dashboard.images">		<i class="fa fa-puzzle-piece"></i>	<span>Images</span> 		</a></li>
			<li><a ui-sref="r.dashboard.servers">		<i class="fa fa-server"></i>		<span>Servers</span> 		</a></li>
			<li><a ui-sref="r.dashboard.isofiles">		<i class="fa fa-dot-circle-o"></i>	<span>ISO Files</span> 		</a></li>
			<li><a ui-sref="r.dashboard.logs">			<i class="fa fa-bug"></i>			<span>Logs</span> 			</a></li>
		</ul>
	</div>
	<div class="col-xs-6">
		<div class="panel">
			<div class="panel-body">
				Put IP Mac Address cross checker here
			</div>
		</div>
	</div>
</div>
</section>