<div class="breadcrumbs">
<div class="row">
	<div class="col-sm-6">
		<h1>Contact</h1>
	</div>
	<div class="col-sm-6">
		<ol class="breadcrumb">
			<li>You are here: </li>
			<li><a ui-sref="home">Home</a></li>
			<li class="active">Contact</li>
		</ol>
	</div>
</div>
</div>

<!-- Contact -->
<section class="contact">
	<div class="row">
		<div class="col-sm-8">
			<h3>Contact us</h3>
			<div id="sendstatus"></div>
			<div id="contactform">
				<form method="post" ng-submit="sendContact()">
					<p>
						<label for="name">Name:*</label>
						<input type="text" class="form-control" name="name" id="name" tabindex="1" />
					</p>
					<p>
						<label for="email">Email:*</label>
						<input type="text" class="form-control" name="email" id="email" tabindex="2" />
					</p>
					<p>
						<label for="comments">Message:*</label>
						<textarea class="form-control" name="comments" id="comments" cols="12" rows="6" tabindex="3"></textarea>
					</p>
					<p>
						<input name="submit" type="submit" id="submit" class="submit" value="Send" tabindex="4" />
					</p>

				</form>
			</div>
		</div>

		<div class="col-sm-3 col-sm-offset-1">
			<h4 class="badge">Sales</h4>		<p><a href="mailto:{{salesemail}}">{{salesemail}}</a></p>
			<h4 class="badge">Support</h4>	<p><a href="mailto:{{supportemail}}">{{supportemail}}</a></p>
			<h4 class="badge">Phones</h4>
			<ul>
				<li ng-repeat="phone in phones | orderBy:'order'">
					<a href="tel://{{phone.linknumber}}">{{phone.country}}: {{phone.number}}</a>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- End of Contact  -->