<div class="col-xs-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-server fa-fw"></i>  Main Information</h3>
		</div>
		<div class="panel-body">
			<form editable-form name="serverEditForm" onaftersave="saveServer()">
				<div class="table-responsive">
					<table class="table table-bordered table-condensed table-hover table-striped table-nonfluid">
						<tbody>
							<tr><td><b>Name: 		</b></td><td><span editable-text="curServer.name">{{ curServer.name }}</span></td></tr>
							<tr><td><b>CPU: 		</b></td><td><span editable-text="curServer.cpu">{{ curServer.cpu }} Core(s)</span></td></tr>
							<tr><td><b>RAM: 		</b></td><td><span editable-text="curServer.ram">{{ curServer.ram }} MB</span></td></tr>
							<tr><td><b>HDD: 		</b></td><td><span editable-text="curServer.hdd">{{ curServer.hdd }} GB</span></td></tr>
							<tr><td><b>SWAP: 		</b></td><td><span editable-text="curServer.swap">{{ curServer.swap }} MB</span></td></tr>
							<tr><td><b>Bandwidth: 	</b></td><td><span editable-text="curServer.bandwidth">{{ curServer.bandwidth }} GB</span></td></tr>
							<tr>
								<td colspan=2>
									<button type="button" class="btn btn-primary btn-xs" ng-click="serverEditForm.$show()" ng-show="!serverEditForm.$visible">Edit</button>
									<button type="button" class="btn btn-danger btn-xs" ng-click="deleteServer()" ng-show="!serverEditForm.$visible">Delete</button>
									<button type="submit" class="btn btn-success btn-xs" ng-disabled="serverEditForm.$waiting" ng-show="serverEditForm.$visible">Save</button>
									<button type="button" class="btn btn-warning btn-xs" ng-disabled="serverEditForm.$waiting" ng-click="serverEditForm.$cancel()" ng-show="serverEditForm.$visible">Cancel</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="col-xs-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-server fa-fw"></i>  Disks</h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-bordered table-condensed table-hover table-striped table-nonfluid">
					<thead>
						<tr>
							<!--td>Type</td-->
							<th>Type</th>
							<th>Assigned Drive</th>
							<th>Source File</th>
							<th>Action</th>
						</tr>
					</thead>
					<tr ng-repeat="curDisk in curServer.diskList">
						<!--td>{{curDisk.type}}</td-->
						<td>{{curDisk.device}}</td>
						<td>{{curDisk.target}}</td>
						<td><span ng-if="(curDisk.device=='disk')">Assigned Drive</span><span ng-if="(curDisk.device!='disk')">{{curDisk.source}}</span></td>
						<td>
							<button type="button" class="btn btn-primary btn-xs" ng-if="(curDisk.source == '-' && curDisk.device == 'cdrom')" ng-click="openAttachISOModal(curDisk.target)"><i class="fa fa-paperclip fa-fw" title="Attach Disk"></i></button>
							<button type="button" class="btn btn-primary btn-xs" ng-if="(curDisk.source != '-' && curDisk.device == 'cdrom')" ng-click="ejectISO(curDisk.target)"><i class="fa fa-eject fa-fw" title="Eject Disk"></i></button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-server fa-fw"></i>  Details</h3>
		</div>
		<div class="panel-body">
			<pre>{{ curServer | json }}</pre>
		</div>
	</div>
</div>

<script type="text/ng-template" id="serverAttachIsoModal.tmpl.html">
	<div class="modal-header">
		<h3><i class="fa fa-server fa-fw"></i> Attach ISO File to Server</h3>
	</div>
	<form>
		<div class="modal-body">
			<div ng-if="(curNode.interfaces == 'Failed')"><span class="alert alert-danger">Failed to fetch interfaces, please try again.</span></div>
			<table ng-if="(curNode.interfaces != 'Failed')" class="table table-hover table-condensed table-responsive">
				<thead>
					<tr><th>Name</th><th>File Name</th><th>Action</th><!--th>Details</th--></tr>
				</thead>
				<tbody>
					<tr ng-repeat="curServerIso in curServerAvailableISOList">

						<td>{{curServerIso.name}}</td>
						<td>{{curServerIso.file}}</td>
						<td>
							<button type="button" class="btn btn-primary btn-xs" ng-click="attachISO(curServerIso._id)">Attach</button>
						</td>
						<!--td>{{curServerIso}}</td-->
					</tr>
				</tbody>
			</table>
		</div>
	</form>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="closeAttachISOModal()" data-dismiss="modal">OK</button>
	</div>
</script>