<!--  Pricing Tables -->
<div class="breadcrumbs">
<div class="row">
	<div class="col-sm-6">
		<h1>Pricing Table</h1>
	</div>
	<div class="col-sm-6">
		<ol class="breadcrumb">
			<li>You are here: </li>
			<li><a ui-sref="home">Home</a></li>
			<li class="active">Pricing</li>
		</ol>
	</div>
</div>
</div>
<section class="pricingtables">
	<div class="row">
		<div class="col-sm-12">
			<h2>Simple Pricing</h2>
			<p>Pay for the server you want, not a dime more. No setup cost, no hidden fees.</p>
		</div>
	</div>

	<div class="row spacing-70  no-gutter">

		<div class="col-sm-3 wow zoomIn" data-wow-delay="0.2s">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="text-center">
						<a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">Starter Edition</a>
					</h3>
				</div>
				<div class="panel-body text-center">
					<a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">
						<span>Best for learning and single user</span>
						<h4>$50</h4>
						<span class="per">PER MONTH</span>
					</a>
				</div>
				<ul class="text-center">
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">1 CPU core</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">6 GB RAM</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">50 GB Disk Space</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">1 TB Network Traffic</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">Unlimited projects</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">24/7 support</a></li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-pricetable" href="{{domain}}/cloud/signup" target="_self">Sign Up</a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 wow zoomIn" data-wow-delay="0.4s">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="text-center">
						<a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">Consulting Edition</a>
					</h3>
				</div>
				<div class="panel-body text-center">
					<a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">
						<span>Best for demo purposes</span>
						<h4>$100</h4>
						<span class="per">PER MONTH</span>
					</a>
				</div>
				<ul class="text-center">
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">2 CPU Cores</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">10 GB RAM</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">50 GB Disk Space</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">1 TB Network Traffic</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">Unlimited projects</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">24/7 support</a></li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-pricetable" href="{{domain}}/cloud/signup" target="_self">Sign Up</a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 wow zoomIn most-popular" data-wow-delay="0.6s">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="text-center">
						<a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">Business Edition</a>
					</h3>
				</div>
				<div class="panel-body text-center">
					<a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">
						<span>Best for small-medium sized teams</span>
						<h4>$200</h4>
						<span class="per">PER MONTH</span>
					</a>
				</div>
				<ul class="text-center">
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">4 CPU Cores</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">20 GB RAM</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">100 GB Disk Space</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">2 TB Network Traffic</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">Unlimited projects</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">24/7 support</a></li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-pricetable" href="{{domain}}/cloud/signup" target="_self">Sign Up</a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 wow zoomIn" data-wow-delay="0.8s">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="text-center">
						<a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">Enterprise Edition</a>
					</h3>
				</div>
				<div class="panel-body text-center">
					<a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">
						<span>Best for larger teams</span>
						<h4>$300</h4>
						<span class="per">PER MONTH</span>
					</a>
				</div>
				<ul class="text-center">
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">6 CPU Cores</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">30 GB RAM</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">150 GB Disk Space</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">3 TB Network Traffic</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">Unlimited projects</a></li>
					<li><a href="{{domain}}/cloud/signup" target="_self" style="color:inherit;">24/7 support</a></li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-pricetable" href="{{domain}}/cloud/signup" target="_self">Sign Up</a>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- End of Pricing Tables -->