<span class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ui-sref="r.dashboard.datacenternew" style="cursor:pointer">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-building fa-fw"></i>  New</h3>
		</div>
		<div class="panel-body">
			Click to create
		</div>
	</div>
</span>
<span class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="dataCenter in dataCenters" ui-sref="r.dashboard.datacenter({id: dataCenter._id})" style="cursor:pointer">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-building fa-fw"></i>  {{dataCenter.name}}</h3>
		</div>
		<div class="panel-body">
			@{{dataCenter.location}}
		</div>
	</div>
</span>

<!--div class="><i class="fa fa-building fa-fw"></i> {{dataCenter.name}}</div-->


<!--li ui-sref="r.dashboard.datacenter({id: dataCenter._id})" style="text-align:left" role="presentation" ng-repeat="dataCenter in dataCenters" class="btn btn-primary"><i class="fa fa-building fa-fw"></i> {{dataCenter.name}}</li-->