<div id="signinbox">
	<div class="panel panel-info" style="margin:0;padding:0">
		<div class="panel-heading">
			<div class="panel-title">Sign In</div>
		</div>
		<div class="panel-body" style="padding-top:30px;">
			<div style="display:none" id="signup-alert" class="alert alert-danger col-sm-12"></div>
			<form id="signinform" class="form-horizontal" role="form" ng-submit="signinModalController.submit(_email, _password)">
				<div class="input-group" style="margin-bottom:25px;">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="email" ng-model="_email" placeholder="you@example.com" class="form-control" id="signinformemail" />
				</div>
				<div class="input-group" style="margin-bottom:25px;">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input type="password" ng-model="_password" placeholder="password" class="form-control" />
				</div>
				<div style="margin-top:10px" class="form-group">
					<div class="col-sm-12 controls">
						<button type="submit" class="btn btn-success btn-sm">Sign In</button>
						<button ng-click="signinModalController.cancel()" class="btn btn-danger btn-sm">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>