<section class="content-header">
	<h1>
		<i class="fa fa-file-text-o fa-fw"></i> Invoices
		<div class="btn-group" role="group" aria-label="Invoice Actions List">
			<a class="btn btn-default btn-sm" ng-click="newInvoice()">New</a>
		</div>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li class="active">Invoices</li>
	</ol>
</section>
<!--pre>	{{invoices|json}}</pre-->
<section class="content">
<div class="row">
	<table class="table table-striped table-bordered table-hover" ng-if="invoices.length > 0">
		<thead>
			<tr>
				<th>#</th>
				<th>User</th>
				<th># items</th>
				<th>Total Value</th>
				<th>Date</th>
				<th>Status</th>
				<th>Actions</th>
				<!--th>Details</th-->
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="invoice in invoices | orderBy:'-details.date'">
				<td>{{invoice._id}}</td>
				<td>{{invoice.details.to}}</td>
				<td>{{invoice.items.length}}</td>
				<td>${{invoice.totalValue.toFixed(2)}}</td>
				<td>{{invoice.details.date | date:'yyyy-MM-dd'}}</td>
				<td>{{invoice.details.status || 'Unpaid'}}</td>
				<td><a ui-sref="r.dashboard.invoice({id: invoice._id})" title="Details"><i class="fa fa-cog fa-fw"></i></a></td>
				<!--td>{{ isofile || json }}</td-->
			</tr>
		</tbody>
	</table>
</div>
</section>