<section class="content-header">
	<h1>
		<i class="fa fa-file-text-o fa-fw"></i> Invoice
		<small>#{{ curInvoice._id }}</small>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
		<li><a ui-sref="r.dashboard.invoices">Invoices</a></li>
		<li class="active">Invoice</li>
	</ol>
</section>

<section class="content">
<div class="row">
<div class="panel panel-default">
	<div class="panel-body">
		<form editable-form name="invoiceEditForm" onaftersave="saveInvoice()">
			<div class="table-responsive">
				<table class="table table-bordered table-condensed table-hover table-striped table-nonfluid">
					<tbody>
						<tr><td width="120"><b>Number: 			</b></td><td>{{ curInvoice._id }}</td></tr>
						<tr>
							<td> 			<b>User: 			</b></td>
							<td>
								<a ui-sref="r.dashboard.user({id: curInvoice.details.user})" title="Go to user details">
									{{ (users | filter:{_id: curInvoice.details.user})[0].name || '' }}
									{{ (users | filter:{_id: curInvoice.details.user})[0].surname || '' }}
									({{ (users | filter:{_id: curInvoice.details.user})[0].email || 'Not set' }})
								</a>
							</td>
						</tr>
						<tr><td> 			<b>Amount: 			</b></td><td>{{ formatCurrency(curInvoice.totalValue) }}</td></tr>
						<tr><td>			<b>Status: 			</b></td><td><span editable-text="curInvoice.details.status">{{ curInvoice.details.status }}</span></td></tr>
						<tr><td>			<b>Date: 			</b></td><td>{{ formatDate(curInvoice.details.date) }} 		</td></tr>
						<tr>
							<td><b>Date: </b></td>
							<td><span editable-combodate="curInvoice.details.date" e-max-year="2100">{{ (curInvoice.details.date | date:"yyyy-MM-dd HH:mm:ss Z") || 'empty' }}</span></td>
						</tr>
						<tr><td>			<b>To: 				</b></td><td>{{ curInvoice.details.to }} 					</td></tr>
						<tr><td>			<b>Address: 		</b></td><td><pre style="background:transparent;border:0;padding:0;margin:0">{{ curInvoice.details.toAddress }}</pre></td></tr>
						<tr><td>			<b>E-Mail Address: 	</b></td><td>{{ curInvoice.details.toEmail }} 				</td></tr>
						<tr><td>			<b>Pay To: 		</b></td><td><pre style="background:transparent;border:0;padding:0;margin:0">{{ curInvoice.details.payTo }}</pre></td></tr>
						<tr>
							<td><b>Items:<br /><i class="fa fa-plus-circle" aria-hidden="true" ng-click="addItem()" title="Add new item" style="cursor:pointer;"></i></b></td>
							<td>
								<table class="table table-bordered table-condensed table-fluid">
									<tr>
										<th>&nbsp;</th>
										<th>Name</th>
										<th>Type</th>
										<th>Effective Dates</th>
										<th>Base Price</th>
										<th>Base Discount</th>
										<th>Final Price</th>
										<th>Final Discount</th>
										<th>Net</th>
									</tr>
									<tr ng-repeat="curItem in curInvoice.items">
										<td><i class="fa fa-minus-circle" aria-hidden="true" ng-click="removeItem()" title="Remove this item" style="cursor:pointer;"></i></td>
										<td><span editable-text="curItem.name">{{curItem.name}}</span></td>
										<td><span editable-text="curItem.type">{{curItem.type}}</span></td>
										<td>{{curItem.between}}</td>
										<td align="right"><span editable-text="curInvoice.items[$index].price">{{formatCurrency(curItem.price)}}</span></td>
										<td align="right"><span editable-text="curInvoice.items[$index].discount">{{formatCurrency(curItem.discount)}}</span></td>
										<td align="right"><span editable-text="curInvoice.items[$index].finalPrice">{{formatCurrency(curItem.finalPrice)}}</span></td>
										<td align="right"><span editable-text="curInvoice.items[$index].finalDiscount">{{formatCurrency(curItem.finalDiscount)}}</span></td>
										<td align="right">{{formatCurrency(curItem.finalNet)}}</td>
									</tr>
									<tr>
										<td align="right" colspan="7"><b>Grand Total</b></td>
										<td align="right"><b>{{ formatCurrency(curInvoice.totalValue) }}</b></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan=2>
								<button type="button" class="btn btn-primary btn-xs" ng-click="invoiceEditForm.$show()" ng-show="!invoiceEditForm.$visible">Edit</button>
								<button type="button" class="btn btn-danger btn-xs" ng-click="deleteInvoice()" ng-show="!invoiceEditForm.$visible">Delete</button>
								<button type="submit" class="btn btn-success btn-xs" ng-disabled="invoiceEditForm.$waiting" ng-show="invoiceEditForm.$visible">Save</button>
								<button type="button" class="btn btn-warning btn-xs" ng-disabled="invoiceEditForm.$waiting" ng-click="invoiceEditForm.$cancel()" ng-show="invoiceEditForm.$visible">Cancel</button>
							</td>
						</tr>
						<tr><td colspan=2><pre>{{curInvoice|json}}</pre></tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</div>

</div>
</section>