<section class="content-header">
	<h1>
		<i class="fa fa-industry fa-fw"></i> New Node
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
		<li><a ui-sref="r.dashboard.nodes">Nodes</a></li>
		<li class="active">New Node</li>
	</ol>
</section>

<section class="content">
	<div ng-if="nodenewalert" class="alert alert-danger alert-sm col-sm-12">{{nodenewalert}}</div>
	<form id="newnodeform" class="form-horizontal" role="form" ng-submit="addNode(_name, _datacenter, _ipaddress, _internalip)">
		<div class="input-group" style="margin-bottom:2px;">
			<span class="input-group-addon" style="min-width:200px;text-align:left;">Name*</span>
			<input type="text" ng-model="newnode._name" placeholder="please enter node name" class="form-control" />
		</div>
		<div class="input-group" style="margin-bottom:2px;">
			<span class="input-group-addon" style="min-width:200px;text-align:left;">Data Center*</span>
			<select class="form-control" ng-model="newnode._datacenter" ng-options="dataCenter.name group by dataCenter.location for dataCenter in dataCenters"></select>
		</div>
		<pre>{{newnode || json}}</pre>
		<div class="input-group" style="margin-bottom:2px;">
			<span class="input-group-addon" style="min-width:200px;text-align:left;">IP Address*</span>
			<input type="text" ng-model="newnode._ipaddress" placeholder="123.123.123.1" class="form-control" id="_ipaddress" />
		</div>
		<div class="input-group" style="margin-bottom:2px;">
			<span class="input-group-addon" style="min-width:200px;text-align:left;">Internal IP Address</span>
			<input type="text" ng-model="newnode._internalip" placeholder="123.123.123.1" class="form-control" id="_internalip" />
		</div>
		<div style="margin-top:10px" class="form-group">
			<div class="col-sm-12 controls">
				<button type="submit" class="btn btn-success btn-sm">Create</button>
				<button type="button" ng-click="addNodecancel()" class="btn btn-danger btn-sm">Cancel</button>
			</div>
		</div>
	</form>
</section>