<section class="content-header">
	<h1>
		<i class="fa fa-puzzle-piece fa-fw"></i> Images
		<div class="btn-group" role="group" aria-label="Node List Actions">
			<button type="button" class="btn btn-default btn-sm" ui-sref="r.dashboard.imagenew">New</button>
			<button type="button" class="btn btn-default btn-sm" ui-sref="r.dashboard.imagenewfromserver">New from Server</button>
		</div>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li class="active">Images</li>
	</ol>
</section>
<section class="content">
<div class="row">

<table class="table table-striped table-bordered table-hover" ng-if="images.length > 0">
	<thead>
		<tr>
			<th>Row</th>
			<th>OS</th>
			<th>Group</th>
			<th>Name</th>
			<!--th>Description</th-->
			<th>Pool</th>
			<th>Base File</th>
			<th>Type</th>
			<th>Status</th>
			<th>Architecture</th>
			<th>Disk Driver</th>
			<th>Network Driver</th>
			<th>&nbsp;</th>
			<!--th>Details</th-->
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="image in images | orderBy:'name'">
			<td>{{$index +1}}</td>
			<td align=center><img ng-src="/lib/svg-porn/logos/{{image.os}}.svg" width="20px" height="20px" /></td>
			<td>{{image.group ? (imagegroups | filter:{_id:image.group}:true)[0].name : "Not Set"}}</td>
			<td>{{image.name}}</td>
			<!--td>{{image.description}}</td-->
			<td><span ng-repeat="cnstorageshow in storages | filter:{_id:image.pool}">{{cnstorageshow.name}}</span></td>
			<td>{{image.basefile}}</td>
			<td>{{image.imagetype}}</td>
			<td>{{image.status}}</td>
			<td>{{image.architecture}}</td>
			<td>{{image.diskdriver}}</td>
			<td>{{image.netdriver}}</td>
			<!--td>{{ (imagegroups | filter:{_id:image.group}:true)[0].name }} {{image.group}}</td-->
			<td><a ui-sref="r.dashboard.image({id: image._id})" title="Details"><i class="fa fa-cog fa-fw"></i></a></td>
			<!--td>{{ image || json }}</td-->
		</tr>
	</tbody>
</table>
</div>
</section>
