<section class="content-header">
	<h1>
		Profile
		<small>User</small>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
		<li class="active">Profile</li>
	</ol>
</section>

<section class="content">
<form editable-form name="profileMainEditForm" onaftersave="saveMainProfile()">
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-md btn-primary" ng-click="profileMainEditForm.$show()" ng-show="!profileMainEditForm.$visible">Edit Profile</button>
			<button type="submit" class="btn btn-md btn-success" ng-disabled="profileMainEditForm.$waiting" ng-show="profileMainEditForm.$visible">Save Changes</button>
			<button type="button" class="btn btn-md btn-warning" ng-disabled="profileMainEditForm.$waiting" ng-click="profileMainEditForm.$cancel()" ng-show="profileMainEditForm.$visible">Cancel</button>
			<button type="button" class="btn btn-md btn-primary" ng-click="changePassword()">Change Password</button>
			<br /><br />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<!--Profile Image-->
			<div class="box box-default">
				<form name="profilePictureUploadForm">
				<div class="box-header with-border">
					<h3 class="box-title">Your Profile Picture</h3>
				</div>
				<div class="box-body box-profile">
					<span class="btn btn-xs btn-primary" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}" ng-show="profileMainEditForm.$visible">Change Picture</span>
					<button class="btn btn-xs btn-success" type="submit" ng-click="uploadProfilePicture()" ng-show="profileMainEditForm.$visible">Upload</button>
					<span ng-show="profileMainEditForm.$visible">{{ppicprogress}}% uploaded</span>
					<img class="profile-user-img img-responsive img-circle" ng-src="{{ppicurl}}" alt="User profile picture" ngf-thumbnail="file || ppicurl"><br />
					<br />
					<ul class="list-group list-group-unbordered">
						<li class="list-group-item">
							<b>Member Since</b> <a class="pull-right">{{ memberSince || 'JoinDate' }}</a>
						</li>
					</ul>
				</div>
				</form>
			</div>
		</div>

		<div class="col-md-3">
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">About You</h3>
				</div>
				<div class="box-body box-profile">
					<ul class="list-group list-group-unbordered">
						<li class="list-group-item">Name: <span editable-text="curEndUser.name" e-placeholder="Name">{{ curEndUser.name || 'Name' }}</span></li>
						<li class="list-group-item">Surname: <span editable-text="curEndUser.surname" e-placeholder="Surname">{{ curEndUser.surname || 'Surname' }}</span></li>
						<li class="list-group-item">Profession: <span editable-text="curEndUser.profession" e-placeholder="Profession">{{ curEndUser.profession || 'Profession' }}</span></li>
						<li class="list-group-item">Email Address: <span editable-text="curEndUser.email" e-required e-size="100" e-placeholder="Email Address">{{curEndUser.email || 'Email Address'}}</span></li>
						<li class="list-group-item">Phone Number:<span editable-text="curEndUser.phone" e-required e-size="100" e-placeholder="Phone number">{{curEndUser.phone || 'Please edit phone number'}}</span></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">Billing Information</h3>
				</div>
				<div class="box-body box-profile">
					<ul class="list-group list-group-unbordered">
						<li class="list-group-item">Address: <span editable-textarea="curEndUser.address" e-rows="7" e-cols="40" e-placeholder="Address" ng-bind-html="formatAddress() || 'Please click edit to change your address'"></span></li>
						<li class="list-group-item">Post Code:<span editable-text="curEndUser.postcode" e-required e-size="100" e-placeholder="Post Code">{{curEndUser.postcode || 'Please edit your post code'}}</span></li>
						<li class="list-group-item">City:<span editable-text="curEndUser.city" e-required e-size="100" e-placeholder="City" >{{curEndUser.city || 'Please edit your city'}}</span></li>
						<li class="list-group-item">State:<span editable-text="curEndUser.state" e-required e-size="100" e-placeholder="State">{{curEndUser.state || 'Please edit your state'}}</span></li>
						<li class="list-group-item">Country:<span editable-text="curEndUser.country" e-required e-size="100" e-placeholder="Country">{{curEndUser.country || 'Please edit your country'}}</span></li>
					</ul>
				</div>
			</div>
		</div>
</form>
</div>
</section>