<section class="content-header">
	<h1>
		Profile
		<small>User</small>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
		<li class="active">Profile</li>
	</ol>
</section>

<section class="content">
<form editable-form name="profileMainEditForm" onaftersave="saveMainProfile()">
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-md btn-primary" ng-click="profileMainEditForm.$show()" ng-show="!profileMainEditForm.$visible">Edit Profile</button>
			<button type="submit" class="btn btn-md btn-success" ng-disabled="profileMainEditForm.$waiting" ng-show="profileMainEditForm.$visible">Save Changes</button>
			<button type="button" class="btn btn-md btn-warning" ng-disabled="profileMainEditForm.$waiting" ng-click="profileMainEditForm.$cancel()" ng-show="profileMainEditForm.$visible">Cancel</button>
			<button type="button" class="btn btn-md btn-primary" ng-click="changePassword()">Change Password</button>
			<br /><br />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<!--Profile Image-->
			<div class="box box-default">
				<form name="profilePictureUploadForm">
				<div class="box-header with-border">
					<h3 class="box-title">Your Profile Picture</h3>
				</div>
				<div class="box-body box-profile">
					<span class="btn btn-xs btn-primary" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}" ng-show="profileMainEditForm.$visible">Change Picture</span>
					<button class="btn btn-xs btn-success" type="submit" ng-click="uploadProfilePicture()" ng-show="profileMainEditForm.$visible">Upload</button>
					<span ng-show="profileMainEditForm.$visible">{{ppicprogress}}% uploaded</span>
					<img class="profile-user-img img-responsive img-circle" ng-src="{{ppicurl}}" alt="User profile picture" ngf-thumbnail="file || ppicurl"><br />
					<br />
					<ul class="list-group list-group-unbordered">
						<li class="list-group-item">
							<b>Member Since</b> <a class="pull-right">{{ memberSince || 'JoinDate' }}</a>
						</li>
					</ul>
				</div>
				</form>
			</div>
		</div>

		<div class="col-md-4">
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">About You</h3>
				</div>
				<div class="box-body box-profile">
					<div class="row">
						<div class="col-xs-4">Name:</div>
						<div class="col-xs-8"><span editable-text="curEndUser.name" e-placeholder="Name" e-maxlength="64">{{ curEndUser.name || 'Name' }}</span></div>
					</div>
					<div class="row">
						<div class="col-xs-4">Surname:</div>
						<div class="col-xs-8"><span editable-text="curEndUser.surname" e-placeholder="Surname" e-maxlength="63">{{ curEndUser.surname || 'Surname' }}</span></div>
					</div>
					<div class="row">
						<div class="col-xs-4">Profession:</div>
						<div class="col-xs-8"><span editable-text="curEndUser.profession" e-placeholder="Profession">{{ curEndUser.profession || 'Profession' }}</span></div>
					</div>
					<div class="row">
						<div class="col-xs-4">Company:</div>
						<div class="col-xs-8"><span editable-text="curEndUser.company" e-placeholder="Company">{{ curEndUser.company || 'Company' }}</span></div>
					</div>
					<div class="row">
						<div class="col-xs-4">E-mail Address:</div>
						<div class="col-xs-8"><span editable-text="curEndUser.email" e-required e-size="100" e-maxlength="64" e-placeholder="Email Address">{{curEndUser.email || 'Email Address'}}</span></div>
					</div>
					<div class="row">
						<div class="col-xs-4">Phone Number:</div>
						<div class="col-xs-8"><span editable-text="curEndUser.phone" e-required e-size="100" e-placeholder="Phone number">{{curEndUser.phone || 'Please edit phone number'}}</span></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">Billing Information</h3>
				</div>
				<div class="box-body box-profile">
					<div class="row">
						<div class="col-xs-4">Address:</div>
						<div class="col-xs-8"><span editable-text="curEndUser.address" e-required e-size="64" e-maxlength="64" e-placeholder="Address">{{curEndUser.address || 'Please edit your address'}}</span></div>
					</div>
					<div class="row">
						<div class="col-xs-4">Address 2:</div>
						<div class="col-xs-8"><span editable-text="curEndUser.address2" e-required e-size="64" e-maxlength="64" e-placeholder="Address 2">{{curEndUser.address2 || 'Please edit your address'}}</span></div>
					</div>
					<div class="row">
						<div class="col-xs-4">Post Code:</div>
						<div class="col-xs-8"><span editable-text="curEndUser.postcode" e-required e-size="100" e-maxlength="16" e-placeholder="Post Code">{{curEndUser.postcode || 'Please edit your post code'}}</span></div>
					</div>
					<div class="row">
						<div class="col-xs-4">City:</div>
						<div class="col-xs-8"><span editable-text="curEndUser.city" e-required e-size="100" e-maxlength="64" e-placeholder="City" >{{curEndUser.city || 'Please edit your city'}}</span></div>
					</div>
					<div class="row">
						<div class="col-xs-4">State:</div>
						<div class="col-xs-8"><span editable-text="curEndUser.state" e-required e-size="100" e-maxlength="64" e-placeholder="State">{{curEndUser.state || 'Please edit your state'}}</span></div>
					</div>
					<div class="row">
						<div class="col-xs-4">Country:</div>
						<div class="col-xs-8">
							<span editable-select="curEndUser.countrycode" e-ng-options="countryCode._id as countryCode.name for countryCode in countries | orderBy:'name'">
								{{ (countries | filter:{_id: curEndUser.countrycode})[0].name || 'Not set' }}
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4"></div>
						<div class="col-xs-8"></div>
					</div>
				</div>
			</div>
		</div>
</form>
</div>
</section>