<div class="panel panel-info" style="margin:0;padding:0">
	<div class="panel-heading">
		<div class="panel-title"><i class="fa fa-server fa-fw"></i> New Server</div>
	</div>
	<div class="panel-body" style="padding-top:30px;">
		<button ng-repeat="plan in plans" type="button" class="btn btn-info btn-sm" style="margin:10px;margin-left:0px;" ng-click="applyPlan(plan)"
			tooltip="
				CPU:{{plan.cpu}} |
				RAM:{{plan.ram}}M |
				HDD:{{plan.hdd}}G |
				SWAP: {{plan.swap}}M |
				Bandwidth: {{plan.bandwidth}}G
			"
		>
			Apply {{plan.name}}
		</button>
		<div ng-if="servernewalert" class="alert alert-danger alert-sm col-sm-12">{{servernewalert}}</div>
		<form id="newserverform" class="form-horizontal" role="form" ng-submit="addServer(_name, _cpu, _hdd, _ram, _swap, _bandwidth, _dc, _node, _ip)">
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Name*</span>
				<input type="text" ng-model="newserver._name" placeholder="please enter server name" class="form-control" />
			</div>
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">CPU*</span>
				<input type="text" ng-model="newserver._cpu" placeholder="###" class="form-control" />
				<span class="input-group-addon" style="min-width:200px;text-align:left;">cores</span>
			</div>
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">HDD Space*</span>
				<input type="text" ng-model="newserver._hdd" placeholder="###" class="form-control" />
				<span class="input-group-addon" style="min-width:200px;text-align:left;">GB</span>
			</div>
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">RAM*</span>
				<input type="text" ng-model="newserver._ram" placeholder="###" class="form-control" />
				<span class="input-group-addon" style="min-width:200px;text-align:left;">MB</span>
			</div>
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Swap*</span>
				<input type="text" ng-model="newserver._swap" placeholder="###" class="form-control" />
				<span class="input-group-addon" style="min-width:200px;text-align:left;">MB</span>
			</div>
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Bandwidth*</span>
				<input type="text" ng-model="newserver._bandwidth" placeholder="###" class="form-control" />
				<span class="input-group-addon" style="min-width:200px;text-align:left;">GB</span>
			</div>
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Base Image*</span>
				<select class="form-control" ng-model="newserver._image" ng-options="image._id as image.name for image in images">
					<option value="" selected="selected">Empty Disk</option>
				</select>
			</div>
			<div class="input-group" style="margin-bottom:2px;" ng-if="!newserver._image || newserver._image==''">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Disk Type*</span>
				<select class="form-control" ng-model="newserver._diskdriver" ng-options="d.value as d.text for d in imageDiskDrivers">
				</select>
			</div>
			<div class="input-group" style="margin-bottom:2px;" ng-if="!newserver._image || newserver._image==''">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Network Card Driver*</span>
				<select class="form-control" ng-model="newserver._netdriver" ng-options="n.value as n.text for n in imageNetDrivers">
				</select>
			</div>
			<!--pre>{{newserver || json}}</pre-->
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Data Center*</span>
				<select class="form-control" ng-model="newserver._dc" ng-options="dataCenter.name group by dataCenter.location for dataCenter in dataCenters track by dataCenter._id">
					 <!--option value="" selected="selected">Auto Select</option-->
				</select>
			</div>
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Node*</span>
				<select class="form-control" ng-model="newserver._node" ng-options="node.name for node in nodes | filter: {datacenter: newserver._dc._id}">
					<!--option value="" selected="selected">Auto Select</option-->
				</select>
			</div>
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">IP*</span>
				<select class="form-control" ng-model="newserver._ip" ng-options="curip.ip for curip in listofAllIPs | filter: filterIPList | orderBy: 'ip'">
					<!--option value="" selected="selected">Auto Select</option-->
				</select>
			</div>
			<div style="margin-top:10px" class="form-group">
				<div class="col-sm-12 controls">
					<button type="submit" class="btn btn-success btn-sm">Create</button>
					<button type="button" ng-click="cancelServerAdd()" class="btn btn-danger btn-sm">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>