<section class="content-header">
	<h1>
		<i class="fa fa-object-group fa-fw"></i> New Image Group
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li><a ui-sref="r.dashboard.imagegroups">Image Groups</a></li>
		<li class="active">New Image Group</li>
	</ol>
</section>

<section class="content">
<div class="panel panel-default" style="margin:0;padding:0">
	<div class="panel-body" style="padding-top:30px;">
		<div ng-if="newitemalert" class="alert alert-danger alert-sm col-sm-12">{{newitemalert}}</div>
		<form id="newimagegroupform" class="form-horizontal" role="form" ng-submit="addImageGroup()">
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Name*</span>
				<input type="text" ng-model="newImageGroup._name" placeholder="please enter image group name" class="form-control" />
			</div>
			<div class="input-group" style="margin-bottom:2px;">
				<span class="input-group-addon" style="min-width:200px;text-align:left;">Description</span>
				<textarea ng-model="newImageGroup._description" placeholder="please enter image group description" class="form-control" rows="5" />
			</div>
			<div style="margin-top:10px" class="form-group">
				<div class="col-sm-12 controls">
					<button type="submit" class="btn btn-success btn-sm">Create</button>
					<button type="button" ng-click="cancelImageGroupAdd()" class="btn btn-danger btn-sm">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>

</section>