<section class="content-header">
	<h1>
		<i class="fa fa-file-text-o fa-fw"></i> Invoices
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="r.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li class="active">Invoices</li>
	</ol>
</section>
<!--pre>	{{invoices|json}}</pre-->
<section class="content">
<div class="row">
	<table class="table table-striped table-bordered table-hover" ng-if="invoices.length > 0">
		<thead>
			<tr>
				<th>#</th>
				<th>User</th>
				<th># items</th>
				<th>Total Value</th>
				<th>Status</th>
				<th>Actions</th>
				<!--th>Details</th-->
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="invoice in invoices | orderBy:'-_id'">
				<td>{{invoice._id}}</td>
				<td>{{invoice.details.to}}</td>
				<td>{{invoice.items.length}}</td>
				<td>{{formatCurrency(invoice.netTotal)}}</td>
				<td>{{invoice.details.status || 'Unpaid' | titlecase}}</td>
				<td><a ui-sref="r.invoice({id: invoice._id})" title="Details"><i class="fa fa-cog fa-fw"></i></a></td>
				<!--td>{{ isofile || json }}</td-->
			</tr>
		</tbody>
	</table>
</div>
</section>