<uib-tabset style="height:100%;">
	<uib-tab>
		<tab-heading style="color:black;">
			<i class="fa fa-credit-card-alt"></i> Pay with Credit Card
		</tab-heading>
		<div class="tab-content" style="border: 1px solid #ddd;padding:10px 15px;border-top:0;height:100%;margin-bottom: 0;">
			Credit Card
		</div>
	</uib-tab>
	<uib-tab>
		<tab-heading style="color:black;">
			<i class="fa fa-paypal"></i> Pay with PayPal
		</tab-heading>
		<div class="tab-content" style="border: 1px solid #ddd;padding:10px 15px;border-top:0;height:100%;margin-bottom: 0;">
			PayPal
		</div>
	</uib-tab>
</uib-tabset>